## Set Up

In [51]:
import pandas as pd
import calendar
import datetime

## Import Data

In [52]:
# Create function to import multiple data files

data_path = "http://web.mta.info/developers/data/nyct/turnstile/turnstile_"

def import_data(date):
    """
    import data
    clean column names
    """
    dfname = pd.read_csv(data_path+date+".txt")
    dfname.columns = dfname.columns.str.strip()
    return dfname
          
mta190504_raw = import_data("190504")
mta190511_raw = import_data("190511")
mta190518_raw = import_data("190518")
mta190525_raw = import_data("190525")
mta190601_raw = import_data("190601")

In [53]:
# Concatenate all data
frames = [mta190504_raw, mta190511_raw, mta190518_raw, mta190525_raw, mta190601_raw]

mta19_raw = pd.concat(frames).reset_index().drop(["index"], axis=1)

mta19_raw.info()
mta19_raw.describe()
#mta19_raw.head(5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1026784 entries, 0 to 1026783
Data columns (total 11 columns):
C/A         1026784 non-null object
UNIT        1026784 non-null object
SCP         1026784 non-null object
STATION     1026784 non-null object
LINENAME    1026784 non-null object
DIVISION    1026784 non-null object
DATE        1026784 non-null object
TIME        1026784 non-null object
DESC        1026784 non-null object
ENTRIES     1026784 non-null int64
EXITS       1026784 non-null int64
dtypes: int64(2), object(9)
memory usage: 86.2+ MB

            ENTRIES         EXITS
count  1.026784e+06  1.026784e+06
mean   4.154868e+07  3.402282e+07
std    2.116724e+08  1.949751e+08
min    0.000000e+00  0.000000e+00
25%    3.525555e+05  1.442150e+05
50%    2.174353e+06  1.245738e+06
75%    6.789071e+06  4.603742e+06
max    2.129343e+09  2.124127e+09

In [54]:
def time_interval(x):
    if x in [0,1,2,3]:
        return "00:00-03:59"
    elif x in [4,5,6,7]:
        return "04:00-07:59"
    elif x in [8,9,10,11]:
        return "08:00-11:59"
    elif x in [12,13,14,15]:
        return "12:00-15:59"
    elif x in [16,17,18,19]:
        return "16:00-19:59"
    elif x in [20,21,22,23]:
        return "20:00-23:59"

In [55]:
# Add and format new variables

def data_clean(dfname):
    """
    add and format new variables
    """
    dfname2 = dfname.copy()
    # Create variables:
    # "time_hour" that simplifies the hour for later grouping purposes
    dfname2["time_hour"] = pd.to_numeric(dfname2["TIME"].str[0:2])
    # formatted date variable "DDATE"
    dfname2['DDATE']=[datetime.datetime.strptime(x, '%m/%d/%Y') for x in dfname2['DATE']]
    # formatted time variable "DTIME"
    dfname2['DTIME']=[datetime.datetime.strptime(x, '%H:%M:%S') for x in dfname2['TIME']]
    dfname2['DDATETIME'] = pd.to_datetime(dfname2['DATE']+" "+dfname2['TIME'])
    dfname2['DDATETIME2'] = dfname2['DDATETIME'] - datetime.timedelta(seconds=1)
    dfname2['DTIME']=[format(x,"%H:%M:%S") for x in dfname2['DTIME']]
    # formatted day of the week variable "DDAY"
    dfname2['DDAY']=[calendar.day_name[datetime.datetime.weekday(x)] for x in dfname2['DDATE']]
    # create time period category "time_cat"
    dfname2["time_cat"] = dfname2["time_hour"].apply(time_interval)
    
    # Sort before grouping for difference calculating
    dfname2.sort_values(["C/A","UNIT","SCP","STATION","LINENAME","DIVISION","DATE","TIME","DESC"], inplace = True)
    # Create difference columns to calculate difference in entries and exits between the row and the row before (aka the time before)
    dfname2["entries_diff"] = dfname2.groupby(["C/A","UNIT","SCP","STATION","LINENAME","DIVISION"]).ENTRIES.diff()
    dfname2["exits_diff"] = dfname2.groupby(["C/A","UNIT","SCP","STATION","LINENAME","DIVISION"]).EXITS.diff()
    dfname2["entries-exits"] = dfname2["entries_diff"] - dfname2["exits_diff"]
    dfname2["entries+exits"] = dfname2["entries_diff"] + dfname2["exits_diff"]
    
    # PLACEHOLDER Create better flag for suspiciously high differences in exits and entries diff
    
    #keep only rows with positive entries_diff, exits_diff, and ENTRIES
    dfname2= dfname2[dfname2.entries_diff > 0]
    dfname2 = dfname2[dfname2.exits_diff > 0]
    dfname2 = dfname2[dfname2.ENTRIES > 0]
    # dropping turnstile 00-04-00 at 23rd st due to data anomaly
    dfname2 = dfname2[(dfname2["STATION"] != "TWENTY THIRD ST") & (dfname2["SCP"] != "00-04-00")]
    # exclude high entries and exits that are likely a result of a terminal reset
    dfname2 = dfname2[dfname2.entries_diff < 10**7]
    dfname2 = dfname2[dfname2.exits_diff < 10**7].reset_index().drop(["index"],axis=1)
    return dfname2

mta19 = data_clean(mta19_raw)
#data_clean(mta18_raw, mta18)
#etc. - can run it for multiple years

In [26]:
mta19.info()
mta19.head(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 833153 entries, 0 to 833152
Data columns (total 23 columns):
C/A              833153 non-null object
UNIT             833153 non-null object
SCP              833153 non-null object
STATION          833153 non-null object
LINENAME         833153 non-null object
DIVISION         833153 non-null object
DATE             833153 non-null object
TIME             833153 non-null object
DESC             833153 non-null object
ENTRIES          833153 non-null int64
EXITS            833153 non-null int64
time_hour        833153 non-null int64
DDATE            833153 non-null datetime64[ns]
DTIME            833153 non-null object
DDATETIME        833153 non-null datetime64[ns]
DDATETIME2       833153 non-null datetime64[ns]
DDAY             833153 non-null object
time_cat         833153 non-null object
entries_diff     833153 non-null float64
exits_diff       833153 non-null float64
entries-exits    833153 non-null float64
entries+exits    833153 non-null float64
suspicious       829505 non-null float64
dtypes: datetime64[ns](3), float64(5), int64(3), object(12)
memory usage: 146.2+ MB

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,...,DTIME,DDATETIME,DDATETIME2,DDAY,time_cat,entries_diff,exits_diff,entries-exits,entries+exits,suspicious
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/27/2019,04:00:00,REGULAR,7035269,...,04:00:00,2019-04-27 04:00:00,2019-04-27 03:59:59,Saturday,04:00-07:59,20.0,7.0,13.0,27.0,NaN
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/27/2019,08:00:00,REGULAR,7035292,...,08:00:00,2019-04-27 08:00:00,2019-04-27 07:59:59,Saturday,08:00-11:59,23.0,35.0,-12.0,58.0,3.0
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/27/2019,12:00:00,REGULAR,7035392,...,12:00:00,2019-04-27 12:00:00,2019-04-27 11:59:59,Saturday,12:00-15:59,100.0,76.0,24.0,176.0,77.0
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/27/2019,16:00:00,REGULAR,7035651,...,16:00:00,2019-04-27 16:00:00,2019-04-27 15:59:59,Saturday,16:00-19:59,259.0,69.0,190.0,328.0,159.0
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/27/2019,20:00:00,REGULAR,7035930,...,20:00:00,2019-04-27 20:00:00,2019-04-27 19:59:59,Saturday,20:00-23:59,279.0,50.0,229.0,329.0,20.0
5,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/28/2019,00:00:00,REGULAR,7036100,...,00:00:00,2019-04-28 00:00:00,2019-04-27 23:59:59,Sunday,0:00-03:59,170.0,17.0,153.0,187.0,-109.0
6,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/28/2019,04:00:00,REGULAR,7036119,...,04:00:00,2019-04-28 04:00:00,2019-04-28 03:59:59,Sunday,04:00-07:59,19.0,1.0,18.0,20.0,-151.0
7,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/28/2019,08:00:00,REGULAR,7036125,...,08:00:00,2019-04-28 08:00:00,2019-04-28 07:59:59,Sunday,08:00-11:59,6.0,15.0,-9.0,21.0,-13.0
8,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/28/2019,12:00:00,REGULAR,7036197,...,12:00:00,2019-04-28 12:00:00,2019-04-28 11:59:59,Sunday,12:00-15:59,72.0,52.0,20.0,124.0,66.0
9,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/28/2019,16:00:00,REGULAR,7036372,...,16:00:00,2019-04-28 16:00:00,2019-04-28 15:59:59,Sunday,16:00-19:59,175.0,43.0,132.0,218.0,103.0

In [13]:
mta19.describe()

,ENTRIES,EXITS,time_hour,entries_diff,exits_diff,entries-exits,entries+exits
count,8.331530e+05,8.331530e+05,833153.000000,8.331530e+05,8.331530e+05,8.331530e+05,8.331530e+05
mean,2.721195e+07,2.022852e+07,10.737178,2.136133e+02,1.823627e+02,3.125065e+01,3.959760e+02
std,1.587317e+08,1.345287e+08,6.818710,2.515161e+03,8.782872e+03,8.032819e+03,1.011947e+04
min,2.000000e+00,1.000000e+00,0.000000,1.000000e+00,1.000000e+00,-5.049355e+06,2.000000e+00
25%,6.743020e+05,3.773880e+05,5.000000,3.100000e+01,2.400000e+01,-4.100000e+01,8.200000e+01
50%,2.812985e+06,1.660193e+06,12.000000,1.130000e+02,7.800000e+01,1.100000e+01,2.420000e+02
75%,7.058666e+06,5.032537e+06,16.000000,2.840000e+02,2.000000e+02,1.290000e+02,5.240000e+02
max,2.115843e+09,2.037865e+09,23.000000,2.091931e+06,5.368363e+06,5.484390e+05,5.687589e+06

## Ongoing checking - DO NOT RUN CELLS BELOW HERE

In [16]:
mta19.sort_values(["entries_diff"], ascending=False)

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,...,DDATE,DTIME,DDATETIME,DDATETIME2,DDAY,time_cat,entries_diff,exits_diff,entries-exits,entries+exits
233899,N076,R111,00-06-01,23 ST,CE,IND,05/09/2019,20:00:00,REGULAR,2223006,...,2019-05-09,20:00:00,2019-05-09 20:00:00,2019-05-09 19:59:59,Thursday,20:00-23:59,2091931.0,1867552.0,224379.0,3959483.0
496544,PTH11,R545,00-00-00,14TH STREET,1,PTH,05/07/2019,15:35:46,REGULAR,590624,...,2019-05-07,15:35:46,2019-05-07 15:35:46,2019-05-07 15:35:45,Tuesday,12:00-15:59,585091.0,36652.0,548439.0,621743.0
476339,PTH02,R544,00-00-00,HARRISON,1,PTH,05/28/2019,11:56:37,REGULAR,343349,...,2019-05-28,11:56:37,2019-05-28 11:56:37,2019-05-28 11:56:36,Tuesday,08:00-11:59,343347.0,45468.0,297879.0,388815.0
621908,R210A,R044,03-03-01,BROOKLYN BRIDGE,456JZ,IRT,05/15/2019,20:00:00,REGULAR,9290094,...,2019-05-15,20:00:00,2019-05-15 20:00:00,2019-05-15 19:59:59,Wednesday,20:00-23:59,320118.0,5367471.0,-5047353.0,5687589.0
622117,R210A,R044,03-03-02,BROOKLYN BRIDGE,456JZ,IRT,05/15/2019,12:00:00,REGULAR,9288333,...,2019-05-15,12:00:00,2019-05-15 12:00:00,2019-05-15 11:59:59,Wednesday,12:00-15:59,319008.0,5368363.0,-5049355.0,5687371.0
509088,PTH19,R549,02-02-08,NEWARK C,1,PTH,05/13/2019,14:14:11,REGULAR,258946,...,2019-05-13,14:14:11,2019-05-13 14:14:11,2019-05-13 14:14:10,Monday,12:00-15:59,200748.0,3050.0,197698.0,203798.0
507146,PTH18,R549,01-02-00,NEWARK BM BW,1,PTH,05/17/2019,13:02:56,REGULAR,207647,...,2019-05-17,13:02:56,2019-05-17 13:02:56,2019-05-17 13:02:55,Friday,12:00-15:59,196340.0,17150.0,179190.0,213490.0
502254,PTH16,R550,01-02-00,LACKAWANNA,1,PTH,05/09/2019,14:34:42,REGULAR,195824,...,2019-05-09,14:34:42,2019-05-09 14:34:42,2019-05-09 14:34:41,Thursday,12:00-15:59,183916.0,1144868.0,-960952.0,1328784.0
502241,PTH16,R550,01-02-00,LACKAWANNA,1,PTH,05/06/2019,15:23:39,REGULAR,195170,...,2019-05-06,15:23:39,2019-05-06 15:23:39,2019-05-06 15:23:38,Monday,12:00-15:59,183471.0,1140653.0,-957182.0,1324124.0
170603,JFK03,R536,00-00-04,JFK JAMAICA CT1,E,IND,05/12/2019,01:00:00,REGULAR,83389,...,2019-05-12,01:00:00,2019-05-12 01:00:00,2019-05-12 00:59:59,Sunday,0:00-03:59,73151.0,466202.0,-393051.0,539353.0
508013,PTH19,R549,02-01-00,NEWARK C,1,PTH,05/17/2019,11:19:59,REGULAR,158181,...,2019-05-17,11:19:59,2019-05-17 11:19:59,2019-05-17 11:19:58,Friday,08:00-11:59,73060.0,35490.0,37570.0,108550.0
510765,PTH22,R540,00-00-00,PATH NEW WTC,1,PTH,05/16/2019,16:12:04,REGULAR,65722,...,2019-05-16,16:12:04,2019-05-16 16:12:04,2019-05-16 16:12:03,Thursday,16:00-19:59,65720.0,508321.0,-442601.0,574041.0
500969,PTH16,R550,01-01-01,LACKAWANNA,1,PTH,05/24/2019,06:58:46,REGULAR,94586,...,2019-05-24,06:58:46,2019-05-24 06:58:46,2019-05-24 06:58:45,Friday,04:00-07:59,49560.0,51276.0,-1716.0,100836.0
500970,PTH16,R550,01-01-01,LACKAWANNA,1,PTH,05/24/2019,11:10:46,REGULAR,95193,...,2019-05-24,11:10:46,2019-05-24 11:10:46,2019-05-24 11:10:45,Friday,08:00-11:59,49228.0,50984.0,-1756.0,100212.0
500972,PTH16,R550,01-01-01,LACKAWANNA,1,PTH,05/24/2019,15:36:46,REGULAR,95255,...,2019-05-24,15:36:46,2019-05-24 15:36:46,2019-05-24 15:36:45,Friday,12:00-15:59,49034.0,51166.0,-2132.0,100200.0
412904,N508,R453,00-00-01,23 ST,FM,IND,05/11/2019,00:00:00,REGULAR,674793570,...,2019-05-11,00:00:00,2019-05-11 00:00:00,2019-05-10 23:59:59,Saturday,0:00-03:59,26589.0,16489.0,10100.0,43078.0
632938,R227,R131,00-00-02,23 ST,6,IRT,05/14/2019,17:00:00,REGULAR,113793,...,2019-05-14,17:00:00,2019-05-14 17:00:00,2019-05-14 16:59:59,Tuesday,16:00-19:59,24634.0,27985.0,-3351.0,52619.0
413192,N508,R453,00-00-04,23 ST,FM,IND,05/11/2019,00:00:00,REGULAR,247382,...,2019-05-11,00:00:00,2019-05-11 00:00:00,2019-05-10 23:59:59,Saturday,0:00-03:59,24169.0,21065.0,3104.0,45234.0
413048,N508,R453,00-00-03,23 ST,FM,IND,05/11/2019,00:00:00,REGULAR,339057138,...,2019-05-11,00:00:00,2019-05-11 00:00:00,2019-05-10 23:59:59,Saturday,0:00-03:59,23775.0,12420.0,11355.0,36195.0
413336,N508,R453,00-00-05,23 ST,FM,IND,05/11/2019,00:00:00,REGULAR,188709,...,2019-05-11,00:00:00,2019-05-11 00:00:00,2019-05-10 23:59:59,Saturday,0:00-03:59,19882.0,46288.0,-26406.0,66170.0
412760,N508,R453,00-00-00,23 ST,FM,IND,05/11/2019,00:00:00,REGULAR,238111932,...,2019-05-11,00:00:00,2019-05-11 00:00:00,2019-05-10 23:59:59,Saturday,0:00-03:59,18435.0,38937.0,-20502.0,57372.0
650031,R238A,R046,02-03-00,GRD CNTRL-42 ST,4567S,IRT,05/11/2019,00:00:00,RECOVR AUD,654373970,...,2019-05-11,00:00:00,2019-05-11 00:00:00,2019-05-10 23:59:59,Saturday,0:00-03:59,18424.0,734.0,17690.0,19158.0
140904,H023,R236,00-06-01,DEKALB AV,L,BMT,05/04/2019,00:00:00,REGULAR,1685259,...,2019-05-04,00:00:00,2019-05-04 00:00:00,2019-05-03 23:59:59,Saturday,0:00-03:59,13759.0,479.0,13280.0,14238.0
402080,N502,R021,01-00-04,42 ST-BRYANT PK,BDFM7,IND,05/11/2019,00:00:00,RECOVR AUD,1833115719,...,2019-05-11,00:00:00,2019-05-11 00:00:00,2019-05-10 23:59:59,Saturday,0:00-03:59,10424.0,4189.0,6235.0,14613.0
489814,PTH06,R546,00-00-01,PAVONIA/NEWPORT,1,PTH,05/24/2019,06:58:41,REGULAR,39562,...,2019-05-24,06:58:41,2019-05-24 06:58:41,2019-05-24 06:58:40,Friday,04:00-07:59,9866.0,2207.0,7659.0,12073.0
140719,H023,R236,00-00-02,DEKALB AV,L,BMT,05/04/2019,00:00:00,REGULAR,1245023,...,2019-05-04,00:00:00,2019-05-04 00:00:00,2019-05-03 23:59:59,Saturday,0:00-03:59,9707.0,3442.0,6265.0,13149.0
404524,N504,R021,02-00-05,42 ST-BRYANT PK,BDFM7,IND,05/11/2019,00:00:00,RECOVR AUD,3593318,...,2019-05-11,00:00:00,2019-05-11 00:00:00,2019-05-10 23:59:59,Saturday,0:00-03:59,9315.0,5954.0,3361.0,15269.0
404329,N504,R021,02-00-04,42 ST-BRYANT PK,BDFM7,IND,05/11/2019,00:00:00,RECOVR AUD,4685859,...,2019-05-11,00:00:00,2019-05-11 00:00:00,2019-05-10 23:59:59,Saturday,0:00-03:59,8838.0,6564.0,2274.0,15402.0
140348,H023,R236,00-00-00,DEKALB AV,L,BMT,05/04/2019,00:00:00,REGULAR,4776317,...,2019-05-04,00:00:00,2019-05-04 00:00:00,2019-05-03 23:59:59,Saturday,0:00-03:59,8666.0,3169.0,5497.0,11835.0
401887,N502,R021,01-00-03,42 ST-BRYANT PK,BDFM7,IND,05/11/2019,00:00:00,RECOVR AUD,125483,...,2019-05-11,00:00:00,2019-05-11 00:00:00,2019-05-10 23:59:59,Saturday,0:00-03:59,8652.0,2570.0,6082.0,11222.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
351764,N330,R202,00-06-00,63 DR-REGO PARK,MR,IND,04/29/2019,19:59:57,REGULAR,1732162,...,2019-04-29,19:59:57,2019-04-29 19:59:57,2019-04-29 19:59:56,Monday,16:00-19:59,1.0,1.0,0.0,2.0
776983,R532H,R328,02-00-02,METS-WILLETS PT,7,IRT,05/05/2019,09:00:00,REGULAR,132743,...,2019-05-05,09:00:00,2019-05-05 09:00:00,2019-05-05 08:59:59,Sunday,08:00-11:59,1.0,41.0,-40.0,42.0
655690,R242A,R049,02-00-00,51 ST,6,IRT,04/29/2019,08:36:38,REGULAR,982115,...,2019-04-29,08:36:38,2019-04-29 08:36:38,2019-04-29 08:36:37,Monday,08:00-11:59,1.0,133.0,-132.0,134.0
776973,R532H,R328,02-00-02,METS-WILLETS PT,7,IRT,05/01/2019,21:00:00,REGULAR,132369,...,2019-05-01,21:00:00,2019-05-01 21:00:00,2019-05-01 20:59:59,Wednesday,20:00-23:59,1.0,310.0,-309.0,311.0
182383,N010,R126,00-00-04,175 ST,A,IND,05/14/2019,04:00:00,REGULAR,3122986,...,2019-05-14,04:00:00,2019-05-14 04:00:00,2019-05-14 03:59:59,Tuesday,04:00-07:59,1.0,2.0,-1.0,3.0
532686,R115,R029,00-06-00,PARK PLACE,23ACE,IRT,05/16/2019,08:00:00,REGULAR,466549,...,2019-05-16,08:00:00,2019-05-16 08:00:00,2019-05-16 07:59:59,Thursday,08:00-11:59,1.0,4.0,-3.0,5.0
667743,R247,R178,01-00-03,77 ST,6,IRT,05/27/2019,05:00:00,REGULAR,736318,...,2019-05-27,05:00:00,2019-05-27 05:00:00,2019-05-27 04:59:59,Monday,04:00-07:59,1.0,8.0,-7.0,9.0
369542,N340,R115,00-00-01,169 ST,F,IND,05/09/2019,11:58:34,REGULAR,2912301,...,2019-05-09,11:58:34,2019-05-09 11:58:34,2019-05-09 11:58:33,Thursday,08:00-11:59,1.0,1.0,0.0,2.0
374489,N343,R019,00-00-01,JAMAICA 179 ST,F,IND,05/08/2019,14:30:10,REGULAR,6869167,...,2019-05-08,14:30:10,2019-05-08 14:30:10,2019-05-08 14:30:09,Wednesday,12:00-15:59,1.0,3.0,-2.0,4.0
776976,R532H,R328,02-00-02,METS-WILLETS PT,7,IRT,05/04/2019,01:00:00,REGULAR,132477,...,2019-05-04,01:00:00,2019-05-04 01:00:00,2019-05-04 00:59:59,Saturday,0:00-03:59,1.0,12.0,-11.0,13.0
532691,R115,R029,00-06-00,PARK PLACE,23ACE,IRT,05/17/2019,04:00:00,REGULAR,466571,...,2019-05-17,04:00:00,2019-05-17 04:00:00,2019-05-17 03:59:59,Friday,04:00-07:59,1.0,1.0,0.0,2.0
532692,R115,R029,00-06-00,PARK PLACE,23ACE,IRT,05/17/2019,08:44:36,REGULAR,466572,...,2019-05-17,08:44:36,2019-05-17 08:44:36,2019-05-17 08:44:35,Friday,08:00-11:59,1.0,11.0,-10.0,12.0
655689,R242A,R049,02-00-00,51 ST,6,IRT,04/29/2019,08:00:00,REGULAR,982114,...,2019-04-29,08:00:00,2019-04-29 08:00:00,2019-04-29 07:59:59,Monday,08:00-11:59,1.0,109.0,-108.0,110.0
107955,D008,R392,00-03-01,18 AV,N,BMT,05/18/2019,21:00:00,REGULAR,28,...,2019-05-18,21:00:00,2019-05-18 21:00:00,2019-05-18 20:59:59,Saturday,20:00-23:59,1.0,6.0,-5.0,7.0
166965,J034,R007,00-00-00,104 ST,JZ,BMT,05/06/2019,00:00:00,REGULAR,6079713,...,2019-05-06,00:00:00,2019-05-06 00:00:00,2019-05-05 23:59:59,Monday,0:00-03:59,1.0,15.0,-14.0,16.0
481422,PTH03,R552,00-01-02,JOURNAL SQUARE,1,PTH,05/31/2019,03:46:40,REGULAR,35427,...,2019-05-31,03:46:40,2019-05-31 03:46:40,2019-05-31 03:46:39,Friday,0:00-03:59,1.0,79.0,-78.0,80.0
532708,R115,R029,00-06-00,PARK PLACE,23ACE,IRT,05/21/2019,00:00:00,REGULAR,466638,...,2019-05-21,00:00:00,2019-05-21 00:00:00,2019-05-20 23:59:59,Tuesday,0:00-03:59,1.0,1.0,0.0,2.0
493257,PTH07,R550,00-01-01,CITY / BUS,1,PTH,05/02/2019,02:28:12,REGULAR,9541,...,2019-05-02,02:28:12,2019-05-02 02:28:12,2019-05-02 02:28:11,Thursday,0:00-03:59,1.0,4.0,-3.0,5.0
269974,N112A,R284,01-00-00,CLINTON-WASH AV,C,IND,05/16/2019,04:00:00,REGULAR,553135,...,2019-05-16,04:00:00,2019-05-16 04:00:00,2019-05-16 03:59:59,Thursday,04:00-07:59,1.0,20.0,-19.0,21.0
107956,D008,R392,00-03-01,18 AV,N,BMT,05/19/2019,13:00:00,REGULAR,29,...,2019-05-19,13:00:00,2019-05-19 13:00:00,2019-05-19 12:59:59,Sunday,12:00-15:59,1.0,14.0,-13.0,15.0
34312,A046,R463,00-06-03,CANAL ST,JNQRZ6W,BMT,05/15/2019,05:00:00,REGULAR,50974003,...,2019-05-15,05:00:00,2019-05-15 05:00:00,2019-05-15 04:59:59,Wednesday,04:00-07:59,1.0,25.0,-24.0,26.0
255521,N095A,R014,01-00-00,FULTON ST,2345ACJZ,IND,04/28/2019,05:00:00,REGULAR,942575,...,2019-04-28,05:00:00,2019-04-28 05:00:00,2019-04-28 04:59:59,Sunday,04:00-07:59,1.0,1.0,0.0,2.0
476145,PTH01,R549,00-01-05,NEWARK HW BMEBE,1,PTH,05/06/2019,18:08:41,REGULAR,4940,...,2019-05-06,18:08:41,2019-05-06 18:08:41,2019-05-06 18:08:40,Monday,16:00-19:59,1.0,807.0,-806.0,808.0
67954,B020,R263,00-03-02,AVENUE H,BQ,BMT,04/30/2019,04:00:00,REGULAR,33153,...,2019-04-30,04:00:00,2019-04-30 04:00:00,2019-04-30 03:59:59,Tuesday,04:00-07:59,1.0,12.0,-11.0,13.0
67959,B020,R263,00-03-02,AVENUE H,BQ,BMT,05/01/2019,00:00:00,REGULAR,33196,...,2019-05-01,00:00:00,2019-05-01 00:00:00,2019-04-30 23:59:59,Wednesday,0:00-03:59,1.0,81.0,-80.0,82.0
182326,N010,R126,00-00-04,175 ST,A,IND,05/04/2019,04:00:00,REGULAR,3117448,...,2019-05-04,04:00:00,2019-05-04 04:00:00,2019-05-04 03:59:59,Saturday,04:00-07:59,1.0,6.0,-5.0,7.0
488478,PTH05,R543,00-01-06,EXCHANGE PLACE,1,PTH,04/28/2019,19:08:07,REGULAR,15649,...,2019-04-28,19:08:07,2019-04-28 19:08:07,2019-04-28 19:08:06,Sunday,16:00-19:59,1.0,24.0,-23.0,25.0
532704,R115,R029,00-06-00,PARK PLACE,23ACE,IRT,05/20/2019,08:00:00,REGULAR,466619,...,2019-05-20,08:00:00,2019-05-20 08:00:00,2019-05-20 07:59:59,Monday,08:00-11:59,1.0,8.0,-7.0,9.0
182296,N010,R126,00-00-04,175 ST,A,IND,04/29/2019,04:00:00,REGULAR,3114095,...,2019-04-29,04:00:00,2019-04-29 04:00:00,2019-04-29 03:59:59,Monday,04:00-07:59,1.0,2.0,-1.0,3.0
438659,N542,R241,00-00-01,15 ST-PROSPECT,FG,IND,05/10/2019,04:30:00,REGULAR,3758905,...,2019-05-10,04:30:00,2019-05-10 04:30:00,2019-05-10 04:29:59,Friday,04:00-07:59,1.0,2.0,-1.0,3.0

In [18]:
mta19.loc[(mta19["STATION"]=="23 ST") & (mta19["SCP"] == "00-06-01")]

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,...,DDATE,DTIME,DDATETIME,DDATETIME2,DDAY,time_cat,entries_diff,exits_diff,entries-exits,entries+exits
233898,N076,R111,00-06-01,23 ST,CE,IND,04/29/2019,16:00:00,REGULAR,2216058,...,2019-04-29,16:00:00,2019-04-29 16:00:00,2019-04-29 15:59:59,Monday,16:00-19:59,185.0,2.0,183.0,187.0
233899,N076,R111,00-06-01,23 ST,CE,IND,05/09/2019,20:00:00,REGULAR,2223006,...,2019-05-09,20:00:00,2019-05-09 20:00:00,2019-05-09 19:59:59,Thursday,20:00-23:59,2091931.0,1867552.0,224379.0,3959483.0
233900,N076,R111,00-06-01,23 ST,CE,IND,05/10/2019,00:00:00,REGULAR,2223218,...,2019-05-10,00:00:00,2019-05-10 00:00:00,2019-05-09 23:59:59,Friday,0:00-03:59,212.0,125.0,87.0,337.0
233901,N076,R111,00-06-01,23 ST,CE,IND,05/10/2019,04:00:00,REGULAR,2223228,...,2019-05-10,04:00:00,2019-05-10 04:00:00,2019-05-10 03:59:59,Friday,04:00-07:59,10.0,6.0,4.0,16.0
233902,N076,R111,00-06-01,23 ST,CE,IND,05/10/2019,08:00:00,REGULAR,2223292,...,2019-05-10,08:00:00,2019-05-10 08:00:00,2019-05-10 07:59:59,Friday,08:00-11:59,64.0,186.0,-122.0,250.0
233903,N076,R111,00-06-01,23 ST,CE,IND,05/10/2019,12:00:00,REGULAR,2223574,...,2019-05-10,12:00:00,2019-05-10 12:00:00,2019-05-10 11:59:59,Friday,12:00-15:59,282.0,804.0,-522.0,1086.0
233904,N076,R111,00-06-01,23 ST,CE,IND,05/10/2019,16:00:00,REGULAR,2223977,...,2019-05-10,16:00:00,2019-05-10 16:00:00,2019-05-10 15:59:59,Friday,16:00-19:59,403.0,411.0,-8.0,814.0
233905,N076,R111,00-06-01,23 ST,CE,IND,05/10/2019,20:00:00,REGULAR,2224661,...,2019-05-10,20:00:00,2019-05-10 20:00:00,2019-05-10 19:59:59,Friday,20:00-23:59,684.0,357.0,327.0,1041.0
233906,N076,R111,00-06-01,23 ST,CE,IND,05/11/2019,00:00:00,REGULAR,2224797,...,2019-05-11,00:00:00,2019-05-11 00:00:00,2019-05-10 23:59:59,Saturday,0:00-03:59,136.0,156.0,-20.0,292.0
233907,N076,R111,00-06-01,23 ST,CE,IND,05/11/2019,04:00:00,REGULAR,2224816,...,2019-05-11,04:00:00,2019-05-11 04:00:00,2019-05-11 03:59:59,Saturday,04:00-07:59,19.0,8.0,11.0,27.0
233908,N076,R111,00-06-01,23 ST,CE,IND,05/11/2019,08:00:00,REGULAR,2224828,...,2019-05-11,08:00:00,2019-05-11 08:00:00,2019-05-11 07:59:59,Saturday,08:00-11:59,12.0,57.0,-45.0,69.0
233909,N076,R111,00-06-01,23 ST,CE,IND,05/11/2019,12:00:00,REGULAR,2224943,...,2019-05-11,12:00:00,2019-05-11 12:00:00,2019-05-11 11:59:59,Saturday,12:00-15:59,115.0,230.0,-115.0,345.0
233910,N076,R111,00-06-01,23 ST,CE,IND,05/11/2019,16:00:00,REGULAR,2225157,...,2019-05-11,16:00:00,2019-05-11 16:00:00,2019-05-11 15:59:59,Saturday,16:00-19:59,214.0,307.0,-93.0,521.0
233911,N076,R111,00-06-01,23 ST,CE,IND,05/11/2019,20:00:00,REGULAR,2225401,...,2019-05-11,20:00:00,2019-05-11 20:00:00,2019-05-11 19:59:59,Saturday,20:00-23:59,244.0,243.0,1.0,487.0
233912,N076,R111,00-06-01,23 ST,CE,IND,05/12/2019,00:00:00,REGULAR,2225481,...,2019-05-12,00:00:00,2019-05-12 00:00:00,2019-05-11 23:59:59,Sunday,0:00-03:59,80.0,144.0,-64.0,224.0
233913,N076,R111,00-06-01,23 ST,CE,IND,05/12/2019,04:00:00,REGULAR,2225500,...,2019-05-12,04:00:00,2019-05-12 04:00:00,2019-05-12 03:59:59,Sunday,04:00-07:59,19.0,32.0,-13.0,51.0
233914,N076,R111,00-06-01,23 ST,CE,IND,05/12/2019,08:00:00,REGULAR,2225512,...,2019-05-12,08:00:00,2019-05-12 08:00:00,2019-05-12 07:59:59,Sunday,08:00-11:59,12.0,27.0,-15.0,39.0
233915,N076,R111,00-06-01,23 ST,CE,IND,05/12/2019,12:00:00,REGULAR,2225587,...,2019-05-12,12:00:00,2019-05-12 12:00:00,2019-05-12 11:59:59,Sunday,12:00-15:59,75.0,121.0,-46.0,196.0
233916,N076,R111,00-06-01,23 ST,CE,IND,05/12/2019,16:00:00,REGULAR,2225728,...,2019-05-12,16:00:00,2019-05-12 16:00:00,2019-05-12 15:59:59,Sunday,16:00-19:59,141.0,174.0,-33.0,315.0
233917,N076,R111,00-06-01,23 ST,CE,IND,05/12/2019,20:00:00,REGULAR,2225829,...,2019-05-12,20:00:00,2019-05-12 20:00:00,2019-05-12 19:59:59,Sunday,20:00-23:59,101.0,121.0,-20.0,222.0
233918,N076,R111,00-06-01,23 ST,CE,IND,05/13/2019,00:00:00,REGULAR,2225879,...,2019-05-13,00:00:00,2019-05-13 00:00:00,2019-05-12 23:59:59,Monday,0:00-03:59,50.0,64.0,-14.0,114.0
233919,N076,R111,00-06-01,23 ST,CE,IND,05/13/2019,04:00:00,REGULAR,2225882,...,2019-05-13,04:00:00,2019-05-13 04:00:00,2019-05-13 03:59:59,Monday,04:00-07:59,3.0,6.0,-3.0,9.0
233920,N076,R111,00-06-01,23 ST,CE,IND,05/13/2019,08:00:00,REGULAR,2225973,...,2019-05-13,08:00:00,2019-05-13 08:00:00,2019-05-13 07:59:59,Monday,08:00-11:59,91.0,203.0,-112.0,294.0
233921,N076,R111,00-06-01,23 ST,CE,IND,05/13/2019,12:00:00,REGULAR,2226324,...,2019-05-13,12:00:00,2019-05-13 12:00:00,2019-05-13 11:59:59,Monday,12:00-15:59,351.0,839.0,-488.0,1190.0
233922,N076,R111,00-06-01,23 ST,CE,IND,05/13/2019,16:00:00,REGULAR,2226708,...,2019-05-13,16:00:00,2019-05-13 16:00:00,2019-05-13 15:59:59,Monday,16:00-19:59,384.0,349.0,35.0,733.0
233923,N076,R111,00-06-01,23 ST,CE,IND,05/13/2019,20:00:00,REGULAR,2227504,...,2019-05-13,20:00:00,2019-05-13 20:00:00,2019-05-13 19:59:59,Monday,20:00-23:59,796.0,373.0,423.0,1169.0
233924,N076,R111,00-06-01,23 ST,CE,IND,05/14/2019,00:00:00,REGULAR,2227709,...,2019-05-14,00:00:00,2019-05-14 00:00:00,2019-05-13 23:59:59,Tuesday,0:00-03:59,205.0,89.0,116.0,294.0
233925,N076,R111,00-06-01,23 ST,CE,IND,05/14/2019,04:00:00,REGULAR,2227717,...,2019-05-14,04:00:00,2019-05-14 04:00:00,2019-05-14 03:59:59,Tuesday,04:00-07:59,8.0,5.0,3.0,13.0
233926,N076,R111,00-06-01,23 ST,CE,IND,05/14/2019,08:00:00,REGULAR,2227774,...,2019-05-14,08:00:00,2019-05-14 08:00:00,2019-05-14 07:59:59,Tuesday,08:00-11:59,57.0,214.0,-157.0,271.0
233927,N076,R111,00-06-01,23 ST,CE,IND,05/14/2019,12:00:00,REGULAR,2228159,...,2019-05-14,12:00:00,2019-05-14 12:00:00,2019-05-14 11:59:59,Tuesday,12:00-15:59,385.0,888.0,-503.0,1273.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
233999,N076,R111,00-06-01,23 ST,CE,IND,05/26/2019,12:00:00,REGULAR,2245783,...,2019-05-26,12:00:00,2019-05-26 12:00:00,2019-05-26 11:59:59,Sunday,12:00-15:59,78.0,147.0,-69.0,225.0
234000,N076,R111,00-06-01,23 ST,CE,IND,05/26/2019,16:00:00,REGULAR,2245913,...,2019-05-26,16:00:00,2019-05-26 16:00:00,2019-05-26 15:59:59,Sunday,16:00-19:59,130.0,216.0,-86.0,346.0
234001,N076,R111,00-06-01,23 ST,CE,IND,05/26/2019,20:00:00,REGULAR,2246045,...,2019-05-26,20:00:00,2019-05-26 20:00:00,2019-05-26 19:59:59,Sunday,20:00-23:59,132.0,224.0,-92.0,356.0
234002,N076,R111,00-06-01,23 ST,CE,IND,05/27/2019,00:00:00,REGULAR,2246122,...,2019-05-27,00:00:00,2019-05-27 00:00:00,2019-05-26 23:59:59,Monday,0:00-03:59,77.0,91.0,-14.0,168.0
234003,N076,R111,00-06-01,23 ST,CE,IND,05/27/2019,04:00:00,REGULAR,2246133,...,2019-05-27,04:00:00,2019-05-27 04:00:00,2019-05-27 03:59:59,Monday,04:00-07:59,11.0,19.0,-8.0,30.0
234004,N076,R111,00-06-01,23 ST,CE,IND,05/27/2019,08:00:00,REGULAR,2246145,...,2019-05-27,08:00:00,2019-05-27 08:00:00,2019-05-27 07:59:59,Monday,08:00-11:59,12.0,32.0,-20.0,44.0
234005,N076,R111,00-06-01,23 ST,CE,IND,05/27/2019,12:00:00,REGULAR,2246198,...,2019-05-27,12:00:00,2019-05-27 12:00:00,2019-05-27 11:59:59,Monday,12:00-15:59,53.0,151.0,-98.0,204.0
234006,N076,R111,00-06-01,23 ST,CE,IND,05/27/2019,16:00:00,REGULAR,2246339,...,2019-05-27,16:00:00,2019-05-27 16:00:00,2019-05-27 15:59:59,Monday,16:00-19:59,141.0,155.0,-14.0,296.0
234007,N076,R111,00-06-01,23 ST,CE,IND,05/27/2019,20:00:00,REGULAR,2246455,...,2019-05-27,20:00:00,2019-05-27 20:00:00,2019-05-27 19:59:59,Monday,20:00-23:59,116.0,172.0,-56.0,288.0
234008,N076,R111,00-06-01,23 ST,CE,IND,05/28/2019,00:00:00,REGULAR,2246522,...,2019-05-28,00:00:00,2019-05-28 00:00:00,2019-05-27 23:59:59,Tuesday,0:00-03:59,67.0,94.0,-27.0,161.0
234009,N076,R111,00-06-01,23 ST,CE,IND,05/28/2019,04:00:00,REGULAR,2246528,...,2019-05-28,04:00:00,2019-05-28 04:00:00,2019-05-28 03:59:59,Tuesday,04:00-07:59,6.0,17.0,-11.0,23.0
234010,N076,R111,00-06-01,23 ST,CE,IND,05/28/2019,08:00:00,REGULAR,2246601,...,2019-05-28,08:00:00,2019-05-28 08:00:00,2019-05-28 07:59:59,Tuesday,08:00-11:59,73.0,249.0,-176.0,322.0
234011,N076,R111,00-06-01,23 ST,CE,IND,05/28/2019,12:00:00,REGULAR,2246927,...,2019-05-28,12:00:00,2019-05-28 12:00:00,2019-05-28 11:59:59,Tuesday,12:00-15:59,326.0,852.0,-526.0,1178.0
234012,N076,R111,00-06-01,23 ST,CE,IND,05/28/2019,16:00:00,REGULAR,2247316,...,2019-05-28,16:00:00,2019-05-28 16:00:00,2019-05-28 15:59:59,Tuesday,16:00-19:59,389.0,317.0,72.0,706.0
234013,N076,R111,00-06-01,23 ST,CE,IND,05/28/2019,20:00:00,REGULAR,2248096,...,2019-05-28,20:00:00,2019-05-28 20:00:00,2019-05-28 19:59:59,Tuesday,20:00-23:59,780.0,408.0,372.0,1188.0
234014,N076,R111,00-06-01,23 ST,CE,IND,05/29/2019,00:00:00,REGULAR,2248230,...,2019-05-29,00:00:00,2019-05-29 00:00:00,2019-05-28 23:59:59,Wednesday,0:00-03:59,134.0,84.0,50.0,218.0
234015,N076,R111,00-06-01,23 ST,CE,IND,05/29/2019,08:00:00,REGULAR,2248296,...,2019-05-29,08:00:00,2019-05-29 08:00:00,2019-05-29 07:59:59,Wednesday,08:00-11:59,66.0,161.0,-95.0,227.0
234016,N076,R111,00-06-01,23 ST,CE,IND,05/29/2019,12:00:00,REGULAR,2248374,...,2019-05-29,12:00:00,2019-05-29 12:00:00,2019-05-29 11:59:59,Wednesday,12:00-15:59,78.0,386.0,-308.0,464.0
234017,N076,R111,00-06-01,23 ST,CE,IND,05/29/2019,16:00:00,REGULAR,2248430,...,2019-05-29,16:00:00,2019-05-29 16:00:00,2019-05-29 15:59:59,Wednesday,16:00-19:59,56.0,94.0,-38.0,150.0
234018,N076,R111,00-06-01,23 ST,CE,IND,05/29/2019,20:00:00,REGULAR,2248539,...,2019-05-29,20:00:00,2019-05-29 20:00:00,2019-05-29 19:59:59,Wednesday,20:00-23:59,109.0,283.0,-174.0,392.0
234019,N076,R111,00-06-01,23 ST,CE,IND,05/30/2019,00:00:00,REGULAR,2248585,...,2019-05-30,00:00:00,2019-05-30 00:00:00,2019-05-29 23:59:59,Thursday,0:00-03:59,46.0,33.0,13.0,79.0
234020,N076,R111,00-06-01,23 ST,CE,IND,05/30/2019,08:00:00,REGULAR,2248605,...,2019-05-30,08:00:00,2019-05-30 08:00:00,2019-05-30 07:59:59,Thursday,08:00-11:59,20.0,128.0,-108.0,148.0
234021,N076,R111,00-06-01,23 ST,CE,IND,05/30/2019,12:00:00,REGULAR,2248720,...,2019-05-30,12:00:00,2019-05-30 12:00:00,2019-05-30 11:59:59,Thursday,12:00-15:59,115.0,546.0,-431.0,661.0
234022,N076,R111,00-06-01,23 ST,CE,IND,05/30/2019,16:00:00,REGULAR,2248814,...,2019-05-30,16:00:00,2019-05-30 16:00:00,2019-05-30 15:59:59,Thursday,16:00-19:59,94.0,226.0,-132.0,320.0
234023,N076,R111,00-06-01,23 ST,CE,IND,05/30/2019,20:00:00,REGULAR,2248969,...,2019-05-30,20:00:00,2019-05-30 20:00:00,2019-05-30 19:59:59,Thursday,20:00-23:59,155.0,315.0,-160.0,470.0
234024,N076,R111,00-06-01,23 ST,CE,IND,05/31/2019,00:00:00,REGULAR,2249031,...,2019-05-31,00:00:00,2019-05-31 00:00:00,2019-05-30 23:59:59,Friday,0:00-03:59,62.0,78.0,-16.0,140.0
234025,N076,R111,00-06-01,23 ST,CE,IND,05/31/2019,08:00:00,REGULAR,2249058,...,2019-05-31,08:00:00,2019-05-31 08:00:00,2019-05-31 07:59:59,Friday,08:00-11:59,27.0,150.0,-123.0,177.0
234026,N076,R111,00-06-01,23 ST,CE,IND,05/31/2019,12:00:00,REGULAR,2249168,...,2019-05-31,12:00:00,2019-05-31 12:00:00,2019-05-31 11:59:59,Friday,12:00-15:59,110.0,534.0,-424.0,644.0
234027,N076,R111,00-06-01,23 ST,CE,IND,05/31/2019,16:00:00,REGULAR,2249358,...,2019-05-31,16:00:00,2019-05-31 16:00:00,2019-05-31 15:59:59,Friday,16:00-19:59,190.0,228.0,-38.0,418.0
234028,N076,R111,00-06-01,23 ST,CE,IND,05/31/2019,20:00:00,REGULAR,2249726,...,2019-05-31,20:00:00,2019-05-31 20:00:00,2019-05-31 19:59:59,Friday,20:00-23:59,368.0,344.0,24.0,712.0

In [23]:
mta19.loc[(mta19["STATION"]=="14TH STREET") & (mta19["SCP"] == "00-00-00") & (mta19["DATE"] == "05/07/2019")]

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,...,DDATE,DTIME,DDATETIME,DDATETIME2,DDAY,time_cat,entries_diff,exits_diff,entries-exits,entries+exits
496541,PTH11,R545,00-00-00,14TH STREET,1,PTH,05/07/2019,02:45:46,REGULAR,590494,...,2019-05-07,02:45:46,2019-05-07 02:45:46,2019-05-07 02:45:45,Tuesday,0:00-03:59,29.0,7.0,22.0,36.0
496542,PTH11,R545,00-00-00,14TH STREET,1,PTH,05/07/2019,07:11:46,REGULAR,590498,...,2019-05-07,07:11:46,2019-05-07 07:11:46,2019-05-07 07:11:45,Tuesday,04:00-07:59,4.0,1.0,3.0,5.0
496543,PTH11,R545,00-00-00,14TH STREET,1,PTH,05/07/2019,11:23:46,REGULAR,590531,...,2019-05-07,11:23:46,2019-05-07 11:23:46,2019-05-07 11:23:45,Tuesday,08:00-11:59,33.0,5.0,28.0,38.0
496544,PTH11,R545,00-00-00,14TH STREET,1,PTH,05/07/2019,15:35:46,REGULAR,590624,...,2019-05-07,15:35:46,2019-05-07 15:35:46,2019-05-07 15:35:45,Tuesday,12:00-15:59,585091.0,36652.0,548439.0,621743.0
496545,PTH11,R545,00-00-00,14TH STREET,1,PTH,05/07/2019,19:47:46,REGULAR,591302,...,2019-05-07,19:47:46,2019-05-07 19:47:46,2019-05-07 19:47:45,Tuesday,16:00-19:59,678.0,26.0,652.0,704.0
496546,PTH11,R545,00-00-00,14TH STREET,1,PTH,05/07/2019,23:59:46,REGULAR,591574,...,2019-05-07,23:59:46,2019-05-07 23:59:46,2019-05-07 23:59:45,Tuesday,20:00-23:59,272.0,8.0,264.0,280.0

In [24]:
mta19.loc[(mta19["STATION"]=="HARRISON") & (mta19["SCP"] == "00-00-00") & (mta19["DATE"] == "05/28/2019")]

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,...,DDATE,DTIME,DDATETIME,DDATETIME2,DDAY,time_cat,entries_diff,exits_diff,entries-exits,entries+exits
476337,PTH02,R544,00-00-00,HARRISON,1,PTH,05/28/2019,03:32:37,REGULAR,342357,...,2019-05-28,03:32:37,2019-05-28 03:32:37,2019-05-28 03:32:36,Tuesday,0:00-03:59,1.0,1.0,0.0,2.0
476338,PTH02,R544,00-00-00,HARRISON,1,PTH,05/28/2019,07:44:37,REGULAR,342646,...,2019-05-28,07:44:37,2019-05-28 07:44:37,2019-05-28 07:44:36,Tuesday,04:00-07:59,289.0,8.0,281.0,297.0
476339,PTH02,R544,00-00-00,HARRISON,1,PTH,05/28/2019,11:56:37,REGULAR,343349,...,2019-05-28,11:56:37,2019-05-28 11:56:37,2019-05-28 11:56:36,Tuesday,08:00-11:59,343347.0,45468.0,297879.0,388815.0
476340,PTH02,R544,00-00-00,HARRISON,1,PTH,05/28/2019,16:08:37,REGULAR,343355,...,2019-05-28,16:08:37,2019-05-28 16:08:37,2019-05-28 16:08:36,Tuesday,16:00-19:59,6.0,1.0,5.0,7.0
476341,PTH02,R544,00-00-00,HARRISON,1,PTH,05/28/2019,20:20:37,REGULAR,343378,...,2019-05-28,20:20:37,2019-05-28 20:20:37,2019-05-28 20:20:36,Tuesday,20:00-23:59,23.0,14.0,9.0,37.0

In [35]:
# Identify entries_diff values that are super high absolute numbers - need to figure out how to find high ones relative to the date before
mta19["suspicious"] = mta19.groupby(["C/A","UNIT","SCP","STATION","LINENAME","DIVISION"]).entries_diff.diff()

# May need to calculate ENTRIES_diff grouped by date as well - too many gaps in days are causing issues
mta19["entries_diff2"] = mta19.groupby(["C/A","UNIT","SCP","STATION","LINENAME","DIVISION","DATE"]).ENTRIES.diff()

In [37]:
mta19.iloc[60:100]

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,...,DDATETIME,DDATETIME2,DDAY,time_cat,entries_diff,exits_diff,entries-exits,entries+exits,suspicious,entries_diff2
60,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/06/2019,20:00:00,REGULAR,7047102,...,2019-05-06 20:00:00,2019-05-06 19:59:59,Monday,20:00-23:59,782.0,70.0,712.0,852.0,450.0,782.0
61,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/07/2019,00:00:00,REGULAR,7047315,...,2019-05-07 00:00:00,2019-05-06 23:59:59,Tuesday,0:00-03:59,213.0,21.0,192.0,234.0,-569.0,NaN
62,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/07/2019,04:00:00,REGULAR,7047331,...,2019-05-07 04:00:00,2019-05-07 03:59:59,Tuesday,04:00-07:59,16.0,9.0,7.0,25.0,-197.0,16.0
63,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/07/2019,08:00:00,REGULAR,7047380,...,2019-05-07 08:00:00,2019-05-07 07:59:59,Tuesday,08:00-11:59,49.0,114.0,-65.0,163.0,33.0,49.0
64,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/07/2019,12:00:00,REGULAR,7047539,...,2019-05-07 12:00:00,2019-05-07 11:59:59,Tuesday,12:00-15:59,159.0,229.0,-70.0,388.0,110.0,159.0
65,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/07/2019,16:00:00,REGULAR,7047849,...,2019-05-07 16:00:00,2019-05-07 15:59:59,Tuesday,16:00-19:59,310.0,69.0,241.0,379.0,151.0,310.0
66,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/07/2019,20:00:00,REGULAR,7048572,...,2019-05-07 20:00:00,2019-05-07 19:59:59,Tuesday,20:00-23:59,723.0,100.0,623.0,823.0,413.0,723.0
67,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/08/2019,00:00:00,REGULAR,7048774,...,2019-05-08 00:00:00,2019-05-07 23:59:59,Wednesday,0:00-03:59,202.0,33.0,169.0,235.0,-521.0,NaN
68,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/08/2019,04:00:00,REGULAR,7048790,...,2019-05-08 04:00:00,2019-05-08 03:59:59,Wednesday,04:00-07:59,16.0,2.0,14.0,18.0,-186.0,16.0
69,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/08/2019,08:00:00,REGULAR,7048852,...,2019-05-08 08:00:00,2019-05-08 07:59:59,Wednesday,08:00-11:59,62.0,101.0,-39.0,163.0,46.0,62.0
70,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/08/2019,12:00:00,REGULAR,7048999,...,2019-05-08 12:00:00,2019-05-08 11:59:59,Wednesday,12:00-15:59,147.0,219.0,-72.0,366.0,85.0,147.0
71,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/08/2019,16:00:00,REGULAR,7049349,...,2019-05-08 16:00:00,2019-05-08 15:59:59,Wednesday,16:00-19:59,350.0,87.0,263.0,437.0,203.0,350.0
72,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/08/2019,20:00:00,REGULAR,7050146,...,2019-05-08 20:00:00,2019-05-08 19:59:59,Wednesday,20:00-23:59,797.0,78.0,719.0,875.0,447.0,797.0
73,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/09/2019,00:00:00,REGULAR,7050342,...,2019-05-09 00:00:00,2019-05-08 23:59:59,Thursday,0:00-03:59,196.0,43.0,153.0,239.0,-601.0,NaN
74,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/09/2019,04:00:00,REGULAR,7050349,...,2019-05-09 04:00:00,2019-05-09 03:59:59,Thursday,04:00-07:59,7.0,3.0,4.0,10.0,-189.0,7.0
75,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/09/2019,08:00:00,REGULAR,7050398,...,2019-05-09 08:00:00,2019-05-09 07:59:59,Thursday,08:00-11:59,49.0,92.0,-43.0,141.0,42.0,49.0
76,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/09/2019,12:00:00,REGULAR,7050550,...,2019-05-09 12:00:00,2019-05-09 11:59:59,Thursday,12:00-15:59,152.0,165.0,-13.0,317.0,103.0,152.0
77,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/09/2019,16:00:00,REGULAR,7050902,...,2019-05-09 16:00:00,2019-05-09 15:59:59,Thursday,16:00-19:59,352.0,35.0,317.0,387.0,200.0,352.0
78,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/09/2019,20:00:00,REGULAR,7051695,...,2019-05-09 20:00:00,2019-05-09 19:59:59,Thursday,20:00-23:59,793.0,74.0,719.0,867.0,441.0,793.0
79,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/10/2019,00:00:00,REGULAR,7051926,...,2019-05-10 00:00:00,2019-05-09 23:59:59,Friday,0:00-03:59,231.0,34.0,197.0,265.0,-562.0,NaN
80,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/10/2019,04:00:00,REGULAR,7051944,...,2019-05-10 04:00:00,2019-05-10 03:59:59,Friday,04:00-07:59,18.0,5.0,13.0,23.0,-213.0,18.0
81,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/10/2019,08:00:00,REGULAR,7051990,...,2019-05-10 08:00:00,2019-05-10 07:59:59,Friday,08:00-11:59,46.0,113.0,-67.0,159.0,28.0,46.0
82,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/10/2019,12:00:00,REGULAR,7052148,...,2019-05-10 12:00:00,2019-05-10 11:59:59,Friday,12:00-15:59,158.0,220.0,-62.0,378.0,112.0,158.0
83,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/10/2019,16:00:00,REGULAR,7052522,...,2019-05-10 16:00:00,2019-05-10 15:59:59,Friday,16:00-19:59,374.0,68.0,306.0,442.0,216.0,374.0
84,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/10/2019,20:00:00,REGULAR,7053256,...,2019-05-10 20:00:00,2019-05-10 19:59:59,Friday,20:00-23:59,734.0,59.0,675.0,793.0,360.0,734.0
85,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/11/2019,00:00:00,REGULAR,7053483,...,2019-05-11 00:00:00,2019-05-10 23:59:59,Saturday,0:00-03:59,227.0,18.0,209.0,245.0,-507.0,NaN
86,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/11/2019,04:00:00,REGULAR,7053511,...,2019-05-11 04:00:00,2019-05-11 03:59:59,Saturday,04:00-07:59,28.0,3.0,25.0,31.0,-199.0,28.0
87,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/11/2019,08:00:00,REGULAR,7053534,...,2019-05-11 08:00:00,2019-05-11 07:59:59,Saturday,08:00-11:59,23.0,28.0,-5.0,51.0,-5.0,23.0
88,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/11/2019,12:00:00,REGULAR,7053618,...,2019-05-11 12:00:00,2019-05-11 11:59:59,Saturday,12:00-15:59,84.0,60.0,24.0,144.0,61.0,84.0
89,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/11/2019,16:00:00,REGULAR,7053841,...,2019-05-11 16:00:00,2019-05-11 15:59:59,Saturday,16:00-19:59,223.0,59.0,164.0,282.0,139.0,223.0
90,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/11/2019,20:00:00,REGULAR,7054133,...,2019-05-11 20:00:00,2019-05-11 19:59:59,Saturday,20:00-23:59,292.0,47.0,245.0,339.0,69.0,292.0
91,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/12/2019,00:00:00,REGULAR,7054291,...,2019-05-12 00:00:00,2019-05-11 23:59:59,Sunday,0:00-03:59,158.0,24.0,134.0,182.0,-134.0,NaN
92,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/12/2019,04:00:00,REGULAR,7054308,...,2019-05-12 04:00:00,2019-05-12 03:59:59,Sunday,04:00-07:59,17.0,4.0,13.0,21.0,-141.0,17.0
93,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/12/2019,08:00:00,REGULAR,7054318,...,2019-05-12 08:00:00,2019-05-12 07:59:59,Sunday,08:00-11:59,10.0,17.0,-7.0,27.0,-7.0,10.0
94,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/12/2019,12:00:00,REGULAR,7054368,...,2019-05-12 12:00:00,2019-05-12 11:59:59,Sunday,12:00-15:59,50.0,65.0,-15.0,115.0,40.0,50.0
95,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/12/2019,16:00:00,REGULAR,7054499,...,2019-05-12 16:00:00,2019-05-12 15:59:59,Sunday,16:00-19:59,131.0,41.0,90.0,172.0,81.0,131.0
96,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/12/2019,20:00:00,REGULAR,7054669,...,2019-05-12 20:00:00,2019-05-12 19:59:59,Sunday,20:00-23:59,170.0,44.0,126.0,214.0,39.0,170.0
97,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/13/2019,00:00:00,REGULAR,7054748,...,2019-05-13 00:00:00,2019-05-12 23:59:59,Monday,0:00-03:59,79.0,21.0,58.0,100.0,-91.0,NaN
98,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/13/2019,04:00:00,REGULAR,7054758,...,2019-05-13 04:00:00,2019-05-13 03:59:59,Monday,04:00-07:59,10.0,2.0,8.0,12.0,-69.0,10.0
99,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/13/2019,08:00:00,REGULAR,7054791,...,2019-05-13 08:00:00,2019-05-13 07:59:59,Monday,08:00-11:59,33.0,96.0,-63.0,129.0,23.0,33.0

In [43]:
mta_check = mta19.sort_values(["suspicious"], ascending=False).reset_index()
mta_check.iloc[61:90]

,index,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,...,DDATETIME,DDATETIME2,DDAY,time_cat,entries_diff,exits_diff,entries-exits,entries+exits,suspicious,entries_diff2
61,486880,PTH05,R543,00-00-03,EXCHANGE PLACE,1,PTH,05/24/2019,06:58:32,REGULAR,...,2019-05-24 06:58:32,2019-05-24 06:58:31,Friday,04:00-07:59,5139.0,808.0,4331.0,5947.0,4613.0,NaN
62,403033,N503,R021,00-00-03,42 ST-BRYANT PK,BDFM7,IND,05/11/2019,00:00:00,RECOVR AUD,...,2019-05-11 00:00:00,2019-05-10 23:59:59,Saturday,0:00-03:59,4796.0,4435.0,361.0,9231.0,4602.0,NaN
63,762789,R523,R147,00-00-06,61 ST WOODSIDE,7,IRT,05/04/2019,01:00:00,REGULAR,...,2019-05-04 01:00:00,2019-05-04 00:59:59,Saturday,0:00-03:59,5346.0,7108.0,-1762.0,12454.0,4594.0,NaN
64,507017,PTH18,R549,01-01-03,NEWARK BM BW,1,PTH,05/24/2019,07:03:12,REGULAR,...,2019-05-24 07:03:12,2019-05-24 07:03:11,Friday,04:00-07:59,5310.0,359.0,4951.0,5669.0,4498.0,NaN
65,504987,PTH17,R541,01-01-06,THIRTY THIRD ST,1,PTH,05/24/2019,06:58:17,REGULAR,...,2019-05-24 06:58:17,2019-05-24 06:58:16,Friday,04:00-07:59,4554.0,1378.0,3176.0,5932.0,4352.0,NaN
66,491908,PTH07,R550,00-00-02,CITY / BUS,1,PTH,05/24/2019,07:50:20,REGULAR,...,2019-05-24 07:50:20,2019-05-24 07:50:19,Friday,04:00-07:59,5177.0,3465.0,1712.0,8642.0,4218.0,NaN
67,762593,R523,R147,00-00-05,61 ST WOODSIDE,7,IRT,05/04/2019,01:00:00,REGULAR,...,2019-05-04 01:00:00,2019-05-04 00:59:59,Saturday,0:00-03:59,4941.0,8867.0,-3926.0,13808.0,4105.0,NaN
68,402447,N503,R021,00-00-00,42 ST-BRYANT PK,BDFM7,IND,05/11/2019,12:00:00,RECOVR AUD,...,2019-05-11 12:00:00,2019-05-11 11:59:59,Saturday,12:00-15:59,4180.0,13170.0,-8990.0,17350.0,4081.0,NaN
69,489259,PTH05,R543,00-04-03,EXCHANGE PLACE,1,PTH,05/24/2019,07:16:08,REGULAR,...,2019-05-24 07:16:08,2019-05-24 07:16:07,Friday,04:00-07:59,4633.0,1349.0,3284.0,5982.0,4037.0,NaN
70,492643,PTH07,R550,00-00-06,CITY / BUS,1,PTH,05/24/2019,06:56:09,REGULAR,...,2019-05-24 06:56:09,2019-05-24 06:56:08,Friday,04:00-07:59,5448.0,7079.0,-1631.0,12527.0,4009.0,NaN
71,405090,N504,R021,02-06-02,42 ST-BRYANT PK,BDFM7,IND,05/11/2019,00:00:00,RECOVR AUD,...,2019-05-11 00:00:00,2019-05-10 23:59:59,Saturday,0:00-03:59,4123.0,893.0,3230.0,5016.0,3998.0,NaN
72,762008,R523,R147,00-00-01,61 ST WOODSIDE,7,IRT,05/04/2019,01:00:00,REGULAR,...,2019-05-04 01:00:00,2019-05-04 00:59:59,Saturday,0:00-03:59,4681.0,6199.0,-1518.0,10880.0,3997.0,NaN
73,597389,R182,R035,00-00-01,168 ST,1AC,IRT,05/14/2019,08:00:09,REGULAR,...,2019-05-14 08:00:09,2019-05-14 08:00:08,Tuesday,08:00-11:59,4423.0,4924.0,-501.0,9347.0,3931.0,NaN
74,180130,N006A,R280,00-00-02,190 ST,A,IND,05/25/2019,00:00:00,REGULAR,...,2019-05-25 00:00:00,2019-05-24 23:59:59,Saturday,0:00-03:59,4242.0,503.0,3739.0,4745.0,3844.0,NaN
75,26548,A038,R085,00-06-00,8 ST-NYU,NRW,BMT,04/28/2019,00:00:00,REGULAR,...,2019-04-28 00:00:00,2019-04-27 23:59:59,Sunday,0:00-03:59,4817.0,17.0,4800.0,4834.0,3837.0,NaN
76,504813,PTH17,R541,01-01-05,THIRTY THIRD ST,1,PTH,05/24/2019,08:01:04,REGULAR,...,2019-05-24 08:01:04,2019-05-24 08:01:03,Friday,08:00-11:59,4285.0,1500.0,2785.0,5785.0,3837.0,NaN
77,480034,PTH03,R552,00-00-06,JOURNAL SQUARE,1,PTH,05/24/2019,06:58:08,REGULAR,...,2019-05-24 06:58:08,2019-05-24 06:58:07,Friday,04:00-07:59,5106.0,1406.0,3700.0,6512.0,3806.0,NaN
78,492092,PTH07,R550,00-00-03,CITY / BUS,1,PTH,05/24/2019,06:56:37,REGULAR,...,2019-05-24 06:56:37,2019-05-24 06:56:36,Friday,04:00-07:59,5299.0,3768.0,1531.0,9067.0,3803.0,NaN
79,484937,PTH04,R551,00-01-04,GROVE STREET,1,PTH,05/24/2019,07:05:07,REGULAR,...,2019-05-24 07:05:07,2019-05-24 07:05:06,Friday,04:00-07:59,4456.0,6726.0,-2270.0,11182.0,3783.0,NaN
80,141085,H023,R236,00-06-02,DEKALB AV,L,BMT,05/04/2019,00:00:00,REGULAR,...,2019-05-04 00:00:00,2019-05-03 23:59:59,Saturday,0:00-03:59,3962.0,1719.0,2243.0,5681.0,3773.0,NaN
81,480605,PTH03,R552,00-00-09,JOURNAL SQUARE,1,PTH,05/23/2019,11:27:20,RECOVR AUD,...,2019-05-23 11:27:20,2019-05-23 11:27:19,Thursday,08:00-11:59,4815.0,5279.0,-464.0,10094.0,3752.0,NaN
82,179939,N006A,R280,00-00-01,190 ST,A,IND,05/25/2019,00:00:00,REGULAR,...,2019-05-25 00:00:00,2019-05-24 23:59:59,Saturday,0:00-03:59,4098.0,912.0,3186.0,5010.0,3743.0,NaN
83,486705,PTH05,R543,00-00-02,EXCHANGE PLACE,1,PTH,05/24/2019,06:58:27,REGULAR,...,2019-05-24 06:58:27,2019-05-24 06:58:26,Friday,04:00-07:59,4489.0,296.0,4193.0,4785.0,3716.0,NaN
84,492459,PTH07,R550,00-00-05,CITY / BUS,1,PTH,05/24/2019,07:08:51,REGULAR,...,2019-05-24 07:08:51,2019-05-24 07:08:50,Friday,04:00-07:59,5090.0,3535.0,1555.0,8625.0,3695.0,NaN
85,491021,PTH06,R546,00-00-08,PAVONIA/NEWPORT,1,PTH,05/24/2019,07:51:27,REGULAR,...,2019-05-24 07:51:27,2019-05-24 07:51:26,Friday,04:00-07:59,4262.0,6683.0,-2421.0,10945.0,3680.0,NaN
86,476665,PTH02,R544,00-00-02,HARRISON,1,PTH,05/23/2019,10:57:43,RECOVR AUD,...,2019-05-23 10:57:43,2019-05-23 10:57:42,Thursday,08:00-11:59,3585.0,315.0,3270.0,3900.0,3559.0,NaN
87,484767,PTH04,R551,00-01-03,GROVE STREET,1,PTH,05/24/2019,06:55:45,REGULAR,...,2019-05-24 06:55:45,2019-05-24 06:55:44,Friday,04:00-07:59,3937.0,6289.0,-2352.0,10226.0,3507.0,NaN
88,479855,PTH03,R552,00-00-05,JOURNAL SQUARE,1,PTH,05/24/2019,07:17:38,REGULAR,...,2019-05-24 07:17:38,2019-05-24 07:17:37,Friday,04:00-07:59,4521.0,554.0,3967.0,5075.0,3447.0,NaN
89,485827,PTH04,R551,00-04-04,GROVE STREET,1,PTH,05/24/2019,06:56:37,REGULAR,...,2019-05-24 06:56:37,2019-05-24 06:56:36,Friday,04:00-07:59,3602.0,3186.0,416.0,6788.0,3356.0,NaN

In [44]:
#mta19.iloc[504100:504120]
# mta19.iloc[140900:140910]
# mta19.iloc[402635:402645]
mta19.iloc[485820:485830]

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,...,DDATETIME,DDATETIME2,DDAY,time_cat,entries_diff,exits_diff,entries-exits,entries+exits,suspicious,entries_diff2
485820,PTH04,R551,00-04-04,GROVE STREET,1,PTH,05/20/2019,13:06:37,REGULAR,206772,...,2019-05-20 13:06:37,2019-05-20 13:06:36,Monday,12:00-15:59,421.0,100.0,321.0,521.0,-176.0,421.0
485821,PTH04,R551,00-04-04,GROVE STREET,1,PTH,05/20/2019,17:18:37,REGULAR,207010,...,2019-05-20 17:18:37,2019-05-20 17:18:36,Monday,16:00-19:59,238.0,115.0,123.0,353.0,-183.0,238.0
485822,PTH04,R551,00-04-04,GROVE STREET,1,PTH,05/20/2019,21:30:37,REGULAR,207200,...,2019-05-20 21:30:37,2019-05-20 21:30:36,Monday,20:00-23:59,190.0,640.0,-450.0,830.0,-48.0,190.0
485823,PTH04,R551,00-04-04,GROVE STREET,1,PTH,05/21/2019,01:42:37,REGULAR,207223,...,2019-05-21 01:42:37,2019-05-21 01:42:36,Tuesday,0:00-03:59,23.0,87.0,-64.0,110.0,-167.0,NaN
485824,PTH04,R551,00-04-04,GROVE STREET,1,PTH,05/21/2019,05:54:37,REGULAR,207237,...,2019-05-21 05:54:37,2019-05-21 05:54:36,Tuesday,04:00-07:59,14.0,5.0,9.0,19.0,-9.0,14.0
485825,PTH04,R551,00-04-04,GROVE STREET,1,PTH,05/21/2019,10:06:37,REGULAR,208163,...,2019-05-21 10:06:37,2019-05-21 10:06:36,Tuesday,08:00-11:59,926.0,207.0,719.0,1133.0,912.0,926.0
485826,PTH04,R551,00-04-04,GROVE STREET,1,PTH,05/21/2019,14:18:37,REGULAR,208409,...,2019-05-21 14:18:37,2019-05-21 14:18:36,Tuesday,12:00-15:59,246.0,53.0,193.0,299.0,-680.0,246.0
485827,PTH04,R551,00-04-04,GROVE STREET,1,PTH,05/24/2019,06:56:37,REGULAR,212011,...,2019-05-24 06:56:37,2019-05-24 06:56:36,Friday,04:00-07:59,3602.0,3186.0,416.0,6788.0,3356.0,NaN
485828,PTH04,R551,00-04-04,GROVE STREET,1,PTH,05/24/2019,11:08:37,REGULAR,212688,...,2019-05-24 11:08:37,2019-05-24 11:08:36,Friday,08:00-11:59,677.0,147.0,530.0,824.0,-2925.0,677.0
485829,PTH04,R551,00-04-04,GROVE STREET,1,PTH,05/24/2019,15:20:37,REGULAR,212970,...,2019-05-24 15:20:37,2019-05-24 15:20:36,Friday,12:00-15:59,282.0,152.0,130.0,434.0,-395.0,282.0

In [50]:
import matplotlib.pyplot as plt
# You can configure the format of the images: â€˜pngâ€™, â€˜retinaâ€™, â€˜jpegâ€™, â€˜svgâ€™, â€˜pdfâ€™.
%config InlineBackend.figure_format = 'svg'
# this statement allows the visuals to render within your Jupyter Notebook
%matplotlib inline

In [ ]:
# Function to output grouped data

def grouped_data(dfname2):
    """
    add statements to return grouped dataframes
    """
    return grouped_data

## Below is scratchwork

In [63]:
mta_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 822989 entries, 0 to 822988
Data columns (total 11 columns):
C/A         822989 non-null object
UNIT        822989 non-null object
SCP         822989 non-null object
STATION     822989 non-null object
LINENAME    822989 non-null object
DIVISION    822989 non-null object
DATE        822989 non-null object
TIME        822989 non-null object
DESC        822989 non-null object
ENTRIES     822989 non-null int64
EXITS       822989 non-null int64
dtypes: int64(2), object(9)
memory usage: 69.1+ MB

In [64]:
mta_raw.sort_values(["STATION","LINENAME","DIVISION","C/A","UNIT","SCP","DATE","TIME","DESC"])
mta_raw.head(10)

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/27/2019,00:00:00,REGULAR,7035249,2384833
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/27/2019,04:00:00,REGULAR,7035269,2384840
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/27/2019,08:00:00,REGULAR,7035292,2384875
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/27/2019,12:00:00,REGULAR,7035392,2384951
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/27/2019,16:00:00,REGULAR,7035651,2385020
5,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/27/2019,20:00:00,REGULAR,7035930,2385070
6,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/28/2019,00:00:00,REGULAR,7036100,2385087
7,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/28/2019,04:00:00,REGULAR,7036119,2385088
8,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/28/2019,08:00:00,REGULAR,7036125,2385103
9,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/28/2019,12:00:00,REGULAR,7036197,2385155

In [65]:
mta1 = mta_raw.copy()
mta1["time_hour"] = pd.to_numeric(mta1["TIME"].str[0:2])
mta1.tail(10)

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,time_hour
822979,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,05/23/2019,09:00:00,REGULAR,5554,378,9
822980,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,05/23/2019,13:00:00,REGULAR,5554,378,13
822981,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,05/23/2019,17:00:00,REGULAR,5554,378,17
822982,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,05/23/2019,21:00:00,REGULAR,5554,378,21
822983,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,05/24/2019,01:00:00,REGULAR,5554,378,1
822984,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,05/24/2019,05:00:00,REGULAR,5554,378,5
822985,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,05/24/2019,09:00:00,REGULAR,5554,378,9
822986,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,05/24/2019,13:00:00,REGULAR,5554,378,13
822987,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,05/24/2019,17:00:00,REGULAR,5554,378,17
822988,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,05/24/2019,21:00:00,REGULAR,5554,378,21

In [68]:
mta1["entries_diff"] = mta1.groupby(by = ["STATION","LINENAME","DIVISION","C/A","UNIT","SCP"]).ENTRIES.diff()
mta1["exits_diff"] = mta1.groupby(by = ["STATION","LINENAME","DIVISION","C/A","UNIT","SCP"]).EXITS.diff()
mta1["entries-exits"] = mta1["entries_diff"] - mta1["exits_diff"]

In [80]:
mta1.tail(10)

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,time_hour,entries_diff,exits_diff,entries-exits
822979,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,05/23/2019,09:00:00,REGULAR,5554,378,9,0.0,0.0,0.0
822980,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,05/23/2019,13:00:00,REGULAR,5554,378,13,0.0,0.0,0.0
822981,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,05/23/2019,17:00:00,REGULAR,5554,378,17,0.0,0.0,0.0
822982,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,05/23/2019,21:00:00,REGULAR,5554,378,21,0.0,0.0,0.0
822983,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,05/24/2019,01:00:00,REGULAR,5554,378,1,0.0,0.0,0.0
822984,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,05/24/2019,05:00:00,REGULAR,5554,378,5,0.0,0.0,0.0
822985,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,05/24/2019,09:00:00,REGULAR,5554,378,9,0.0,0.0,0.0
822986,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,05/24/2019,13:00:00,REGULAR,5554,378,13,0.0,0.0,0.0
822987,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,05/24/2019,17:00:00,REGULAR,5554,378,17,0.0,0.0,0.0
822988,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,05/24/2019,21:00:00,REGULAR,5554,378,21,0.0,0.0,0.0

In [69]:
mta1.describe()

,ENTRIES,EXITS,time_hour,entries_diff,exits_diff,entries-exits
count,8.229890e+05,8.229890e+05,822989.000000,8.181190e+05,8.181190e+05,8.181190e+05
mean,4.137444e+07,3.392040e+07,10.537974,6.501273e+03,4.389621e+03,2.111652e+03
std,2.110233e+08,1.945992e+08,6.813749,3.880945e+06,2.153482e+06,2.952274e+06
min,0.000000e+00,0.000000e+00,0.000000,-1.437242e+09,-3.843496e+08,-1.086304e+09
25%,3.552810e+05,1.453550e+05,4.000000,9.000000e+00,8.000000e+00,-2.600000e+01
50%,2.179688e+06,1.249356e+06,10.000000,7.100000e+01,5.200000e+01,1.000000e+00
75%,6.796341e+06,4.610048e+06,16.000000,2.390000e+02,1.670000e+02,9.500000e+01
max,2.129343e+09,2.124127e+09,23.000000,2.055526e+09,1.078346e+09,1.888396e+09

In [70]:
mta2 = mta1.groupby(["STATION","LINENAME","DIVISION","C/A","UNIT","SCP","DATE"])[["ENTRIES","EXITS"]].sum()
mta2.head(40)

In [75]:
mta3 = mta1.groupby(["STATION","LINENAME"])[["ENTRIES","EXITS"]].sum().sort_values("ENTRIES",ascending = False)
mta3.head(40)

                                    ENTRIES          EXITS
STATION         LINENAME
42 ST-PORT AUTH ACENQRS1237W  1325100766251  1087383399661
TIMES SQ-42 ST  1237ACENQRSW  1050107602568   572042830342
3 AV-149 ST     25             871050714699   573974218369
34 ST-HERALD SQ BDFMNQRW       792675667461   993997895389
183 ST          4              688797769222   440331418268
72 ST           123            595692069534   794986496814
FULTON ST       ACJZ2345       566891838239   371440694638
ELMHURST AV     MR             542939140010   785995739092
104 ST          JZ             530523541168   426588183018
CANAL ST        JNQRZ6W        523768132773   820303844992
FLATBUSH AV-B.C 25             493773615599   362591233789
125 ST          456            483599241408   315718258848
CORTLANDT ST    RNW            480956181266   170580222325
HIGH ST         AC             478720816666   643788988226
COURT SQ        EMG            463282648920   216678837618
LEXINGTON AV/53 EM6            454316967158   573267394862
125 ST          23             445294678461   207810064505
GRD CNTRL-42 ST 4567S          444555149184   558791206572
14 ST           ACEL           402131935540   201823594945
BOWLING GREEN   45             398453745321   269300965428
59 ST COLUMBUS  ABCD1          395276518126   293755830758
47-50 STS ROCK  BDFM           385410103160   384441411775
86 ST           456            375259848880   429625196387
CHAMBERS ST     123            372000974604   302708805238
CYPRESS AV      6              370979346402   183778458624
EASTCHSTER/DYRE 5              354649862936   383287087859
59 ST           NRW            351833413985   124346687372
23 ST           6              351202749633   270283131344
34 ST-PENN STA  123ACE         349236309965   424160223499
59 ST           456NQRW        345983359130   274707312886
KINGS HWY       BQ             342939798490   351164827726
161/YANKEE STAD BD4            336892546632   221503399783
B'WAY-LAFAYETTE BDFQ6          336889567652   273686737933
66 ST-LINCOLN   1              333954614109    78914291252
CHAMBERS ST     ACE23          330470091498   141372148798
225 ST          25             329459645992   111959264015
121 ST          JZ             328427293873    88453029829
23 ST           FM             321637586929   336421779839
167 ST          BD             303833276718   146522682627
18 AV           F              303642676215   138560931958

In [77]:
mta1.sort_values("entries_diff")

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,time_hour,entries_diff,exits_diff,entries-exits
582980,R288,R275,00-00-03,183 ST,4,IRT,05/15/2019,12:00:00,REGULAR,140396510,51950488,12,-1.437242e+09,-350938302.0,-1.086304e+09
72426,N196,R285,00-05-01,FAR ROCKAWAY,A,IND,05/03/2019,16:00:00,REGULAR,65536,2,16,-8.392517e+08,-167841839.0,-6.714099e+08
167363,R258,R132,00-03-00,125 ST,456,IRT,05/03/2019,13:00:00,REGULAR,68858058,68916176,13,-3.676523e+08,-384349631.0,1.669731e+07
553728,R160A,R164,00-00-02,66 ST-LINCOLN,1,IRT,05/11/2019,17:00:00,REGULAR,1058563,262707,17,-1.013321e+08,-50788219.0,-5.054392e+07
170314,R289,R119,00-05-01,FORDHAM RD,4,IRT,05/03/2019,16:00:00,REGULAR,458752,7,16,-1.002045e+08,-16777623.0,-8.342692e+07
544936,R121,R290,01-06-00,HOUSTON ST,1,IRT,05/11/2019,17:00:00,REGULAR,196625,30,17,-6.826523e+07,-17065778.0,-5.119945e+07
551480,R151,R033,00-00-05,TIMES SQ-42 ST,1237ACENQRSW,IRT,05/15/2019,16:00:00,REGULAR,146,258,16,-3.696648e+07,-89243892.0,5.227741e+07
655279,H041,R152,00-00-01,CANARSIE-ROCKAW,L,BMT,05/18/2019,13:00:00,REGULAR,191,169,13,-1.541868e+07,-7550836.0,-7.867844e+06
399044,R601A,R108,02-00-01,BOROUGH HALL,2345R,IRT,05/06/2019,00:00:00,RECOVR AUD,7,0,0,-1.365362e+07,-8665111.0,-4.988508e+06
163490,R245A,R051,01-00-01,59 ST,456NQRW,IRT,05/02/2019,20:00:00,REGULAR,115,23,20,-1.273900e+07,-6526790.0,-6.212212e+06
613749,R629,R065,00-00-00,ROCKAWAY AV,3,IRT,05/11/2019,16:00:00,REGULAR,84,72,16,-1.046303e+07,-5317619.0,-5.145411e+06
553649,R160A,R164,00-00-00,66 ST-LINCOLN,1,IRT,05/12/2019,09:00:00,RECOVR AUD,7,0,9,-9.441231e+06,-10391886.0,9.506550e+05
684489,N119,R199,00-00-01,KINGSTON-THROOP,C,IND,05/24/2019,20:00:00,REGULAR,170,61,20,-9.029972e+06,-2842516.0,-6.187456e+06
513514,N525,R142,01-00-00,DELANCEY/ESSEX,FJMZ,IND,05/12/2019,17:00:00,REGULAR,72,57,17,-8.876648e+06,-5013325.0,-3.863323e+06
554448,R161B,R452,00-03-00,72 ST,123,IRT,05/14/2019,05:00:00,REGULAR,10,19,5,-7.603746e+06,-15978514.0,8.374768e+06
377955,R311,R053,00-00-02,3 AV-149 ST,25,IRT,05/08/2019,20:00:00,REGULAR,119,162,20,-7.480365e+06,-13227035.0,5.746670e+06
721108,N520,R240,00-00-07,GRAND ST,BD,IND,05/22/2019,12:00:00,REGULAR,158,105,12,-6.999693e+06,-5150373.0,-1.849320e+06
166961,R257,R182,01-00-00,116 ST,6,IRT,05/01/2019,13:00:00,REGULAR,107,67,13,-6.546690e+06,-4057704.0,-2.488986e+06
675386,N078,R175,01-00-00,14 ST,ACEL,IND,05/20/2019,21:00:00,REGULAR,423,1324,21,-6.527507e+06,-8479480.0,1.951973e+06
160834,R240,R047,00-03-02,GRD CNTRL-42 ST,4567S,IRT,05/01/2019,09:00:00,REGULAR,29,426,9,-6.333334e+06,-19344553.0,1.301122e+07
178650,R408,R449,00-00-00,E 149 ST,6,IRT,04/28/2019,09:00:00,RECOVR AUD,0,27,9,-5.176463e+06,-2249763.0,-2.926700e+06
346165,R159,R164,01-00-00,66 ST-LINCOLN,1,IRT,05/04/2019,17:00:00,REGULAR,12,6,17,-4.887297e+06,-12407736.0,7.520439e+06
453047,K024,R403,00-00-02,FOREST AVE,M,BMT,05/16/2019,17:00:00,REGULAR,1150,910,17,-4.767334e+06,-2815850.0,-1.951484e+06
256619,N057,R188,00-00-04,50 ST,CE,IND,05/08/2019,20:00:00,REGULAR,39,6,20,-4.605723e+06,-1932155.0,-2.673568e+06
83799,N325A,R218,00-06-00,ELMHURST AV,MR,IND,05/03/2019,12:00:00,REGULAR,39,9,12,-3.912148e+06,-3657224.0,-2.549240e+05
101235,N519A,R461,01-00-02,B'WAY-LAFAYETTE,BDFQ6,IND,05/01/2019,21:00:00,REGULAR,326,98,21,-3.756147e+06,-2893863.0,-8.622840e+05
256537,N057,R188,00-00-02,50 ST,CE,IND,05/08/2019,20:00:00,REGULAR,134,36,20,-3.072936e+06,-906156.0,-2.166780e+06
287227,N317,R267,02-00-00,46 ST,MR,IND,05/08/2019,17:00:00,REGULAR,70,59,17,-2.898276e+06,-2357972.0,-5.403040e+05
507029,N500,R020,00-06-01,47-50 STS ROCK,BDFM,IND,05/17/2019,22:34:16,REGULAR,196614,12,22,-2.802078e+06,-7146388.0,4.344310e+06
345771,R158,R084,00-02-01,59 ST COLUMBUS,1ABCD,IRT,05/08/2019,12:00:00,REGULAR,182,200,12,-2.357375e+06,-2372904.0,1.552900e+04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
206393,S102,R165,00-05-01,TOMPKINSVILLE,1,SRT,04/27/2019,02:00:00,REGULAR,341,0,2,NaN,NaN,NaN
206437,TRAM1,R468,00-00-00,RIT-MANHATTAN,R,RIT,04/27/2019,01:00:00,REGULAR,364146,6866,1,NaN,NaN,NaN
206479,TRAM1,R468,00-00-01,RIT-MANHATTAN,R,RIT,04/27/2019,01:00:00,REGULAR,252807,3144,1,NaN,NaN,NaN
206521,TRAM1,R468,00-00-02,RIT-MANHATTAN,R,RIT,04/27/2019,01:00:00,REGULAR,82000,1331,1,NaN,NaN,NaN
206563,TRAM1,R468,00-05-00,RIT-MANHATTAN,R,RIT,04/27/2019,01:00:00,REGULAR,198,0,1,NaN,NaN,NaN
206605,TRAM2,R469,00-00-00,RIT-ROOSEVELT,R,RIT,04/27/2019,01:00:00,REGULAR,144061,2770,1,NaN,NaN,NaN
206647,TRAM2,R469,00-00-01,RIT-ROOSEVELT,R,RIT,04/27/2019,01:00:00,REGULAR,3006617,35486,1,NaN,NaN,NaN
206689,TRAM2,R469,00-03-00,RIT-ROOSEVELT,R,RIT,04/27/2019,01:00:00,REGULAR,660786,25646,1,NaN,NaN,NaN
206731,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,04/27/2019,01:00:00,REGULAR,3041812,391575,1,NaN,NaN,NaN
206773,TRAM2,R469,00-05-00,RIT-ROOSEVELT,R,RIT,04/27/2019,01:00:00,REGULAR,2878,62,1,NaN,NaN,NaN
206815,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,04/27/2019,01:00:00,REGULAR,5554,376,1,NaN,NaN,NaN
243913,J002,R460,00-06-00,MARCY AV,JMZ,BMT,05/08/2019,17:00:00,REGULAR,196696,218,17,NaN,NaN,NaN
284353,N305A,R016,00-05-01,LEXINGTON AV/53,EM6,IND,05/10/2019,20:00:00,REGULAR,6,1849,20,NaN,NaN,NaN
423943,A081,R028,04-00-03,FULTON ST,ACJZ2345,BMT,05/13/2019,08:36:03,REGULAR,748906,2343743,8,NaN,NaN,NaN
434794,C022,R212,01-00-00,59 ST,NRW,BMT,05/13/2019,16:00:00,REGULAR,25,26,16,NaN,NaN,NaN
434820,C022,R212,01-00-01,59 ST,NRW,BMT,05/13/2019,16:00:00,REGULAR,28,33,16,NaN,NaN,NaN
434846,C022,R212,01-00-02,59 ST,NRW,BMT,05/13/2019,16:00:00,REGULAR,33,28,16,NaN,NaN,NaN
434872,C022,R212,01-00-03,59 ST,NRW,BMT,05/13/2019,20:00:00,REGULAR,245,116,20,NaN,NaN,NaN
536132,PTH19,R549,02-02-08,NEWARK C,1,PTH,05/13/2019,13:14:40,REGULAR,58198,4901,13,NaN,NaN,NaN
645156,D008,R392,00-00-00,18 AV,N,BMT,05/18/2019,17:00:00,REGULAR,7829573,7636678,17,NaN,NaN,NaN
645194,D008,R392,00-00-01,18 AV,N,BMT,05/18/2019,17:00:00,REGULAR,6683380,4128285,17,NaN,NaN,NaN
645232,D008,R392,00-03-00,18 AV,N,BMT,05/18/2019,13:00:00,REGULAR,1946541827,1358550406,13,NaN,NaN,NaN
645271,D008,R392,00-03-01,18 AV,N,BMT,05/18/2019,13:00:00,REGULAR,21,12,13,NaN,NaN,NaN
733815,OB01,R459,00-00-00,ORCHARD BEACH,6,IND,05/21/2019,16:00:00,RECOVR AUD,397537,23574,16,NaN,NaN,NaN
733835,OB01,R459,00-00-01,ORCHARD BEACH,6,IND,05/21/2019,16:00:00,RECOVR AUD,69256,4741,16,NaN,NaN,NaN
733855,OB01,R459,00-00-02,ORCHARD BEACH,6,IND,05/21/2019,16:00:00,RECOVR AUD,124,92,16,NaN,NaN,NaN
733875,OB01,R459,00-03-00,ORCHARD BEACH,6,IND,05/21/2019,16:00:00,RECOVR AUD,18999,1322,16,NaN,NaN,NaN
733895,OB01,R459,00-03-01,ORCHARD BEACH,6,IND,05/21/2019,16:00:00,RECOVR AUD,109,42,16,NaN,NaN,NaN
734503,PTH02,R544,00-00-08,HARRISON,1,PTH,05/24/2019,07:49:22,REGULAR,142284,6516,7,NaN,NaN,NaN
741372,PTH20,R549,03-00-08,NEWARK HM HE,1,PTH,05/20/2019,11:27:21,REGULAR,36975,1148746,11,NaN,NaN,NaN

In [79]:
mta1.iloc[72420:72440]

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,time_hour,entries_diff,exits_diff,entries-exits
72420,N196,R285,00-05-01,FAR ROCKAWAY,A,IND,05/02/2019,16:00:00,REGULAR,839317244,167841841,16,0.0,0.0,0.0
72421,N196,R285,00-05-01,FAR ROCKAWAY,A,IND,05/02/2019,20:00:00,REGULAR,839317244,167841841,20,0.0,0.0,0.0
72422,N196,R285,00-05-01,FAR ROCKAWAY,A,IND,05/03/2019,00:00:00,REGULAR,839317244,167841841,0,0.0,0.0,0.0
72423,N196,R285,00-05-01,FAR ROCKAWAY,A,IND,05/03/2019,04:00:00,REGULAR,839317244,167841841,4,0.0,0.0,0.0
72424,N196,R285,00-05-01,FAR ROCKAWAY,A,IND,05/03/2019,08:00:00,REGULAR,839317244,167841841,8,0.0,0.0,0.0
72425,N196,R285,00-05-01,FAR ROCKAWAY,A,IND,05/03/2019,12:00:00,REGULAR,839317244,167841841,12,0.0,0.0,0.0
72426,N196,R285,00-05-01,FAR ROCKAWAY,A,IND,05/03/2019,16:00:00,REGULAR,65536,2,16,-839251708.0,-167841839.0,-671409869.0
72427,N196,R285,00-05-01,FAR ROCKAWAY,A,IND,05/03/2019,20:00:00,REGULAR,65536,2,20,0.0,0.0,0.0
72428,N202,R315,00-00-00,155 ST,BD,IND,04/27/2019,01:00:00,REGULAR,8938117,8025191,1,NaN,NaN,NaN
72429,N202,R315,00-00-00,155 ST,BD,IND,04/27/2019,05:00:00,REGULAR,8938131,8025234,5,14.0,43.0,-29.0
72430,N202,R315,00-00-00,155 ST,BD,IND,04/27/2019,09:00:00,REGULAR,8938263,8025281,9,132.0,47.0,85.0
72431,N202,R315,00-00-00,155 ST,BD,IND,04/27/2019,13:00:00,REGULAR,8938439,8025370,13,176.0,89.0,87.0
72432,N202,R315,00-00-00,155 ST,BD,IND,04/27/2019,17:00:00,REGULAR,8938619,8025505,17,180.0,135.0,45.0
72433,N202,R315,00-00-00,155 ST,BD,IND,04/27/2019,21:00:00,REGULAR,8938774,8025674,21,155.0,169.0,-14.0
72434,N202,R315,00-00-00,155 ST,BD,IND,04/28/2019,01:00:00,REGULAR,8938842,8025780,1,68.0,106.0,-38.0
72435,N202,R315,00-00-00,155 ST,BD,IND,04/28/2019,05:00:00,REGULAR,8938852,8025815,5,10.0,35.0,-25.0
72436,N202,R315,00-00-00,155 ST,BD,IND,04/28/2019,09:00:00,REGULAR,8938949,8025844,9,97.0,29.0,68.0
72437,N202,R315,00-00-00,155 ST,BD,IND,04/28/2019,13:00:00,REGULAR,8939086,8025908,13,137.0,64.0,73.0
72438,N202,R315,00-00-00,155 ST,BD,IND,04/28/2019,17:00:00,REGULAR,8939229,8026017,17,143.0,109.0,34.0
72439,N202,R315,00-00-00,155 ST,BD,IND,04/28/2019,21:00:00,REGULAR,8939340,8026133,21,111.0,116.0,-5.0