## Set Up

In [ ]:
import pandas as pd

In [61]:
# Create function to import multiple data files

data_path = "http://web.mta.info/developers/data/nyct/turnstile/turnstile_"

def import_data(date):
    """
    import data
    clean column names
    """
    dfname = pd.read_csv(data_path+date+".txt")
    dfname.columns = dfname.columns.str.strip()
    return dfname
          
mta190504_raw = import_data("190504")
mta190511_raw = import_data("190511")
mta190518_raw = import_data("190518")
mta190525_raw = import_data("190525")
mta190601_raw = import_data("190601")

In [62]:
# Concatenate all data
frames = [mta190504_raw, mta190511_raw, mta190518_raw, mta190525_raw, mta190601_raw]

mta19_raw = pd.concat(frames).reset_index().drop(["index"], axis=1)
mta19_raw.head(5)

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/27/2019,00:00:00,REGULAR,7035249,2384833
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/27/2019,04:00:00,REGULAR,7035269,2384840
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/27/2019,08:00:00,REGULAR,7035292,2384875
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/27/2019,12:00:00,REGULAR,7035392,2384951
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/27/2019,16:00:00,REGULAR,7035651,2385020

In [ ]:
# Add and format new variables

def data_clean(dfname,dfname2):
    """
    add and format new variables
    """
    return dfname2

data_clean(mta19_raw, mta19)
#etc. - can run it for multiple years

In [ ]:
# Function to output grouped data

def grouped_data(dfname2):
    """
    add statements to return grouped dataframes
    """
    return grouped_data

## Below is scratchwork

In [63]:
mta_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 822989 entries, 0 to 822988
Data columns (total 11 columns):
C/A         822989 non-null object
UNIT        822989 non-null object
SCP         822989 non-null object
STATION     822989 non-null object
LINENAME    822989 non-null object
DIVISION    822989 non-null object
DATE        822989 non-null object
TIME        822989 non-null object
DESC        822989 non-null object
ENTRIES     822989 non-null int64
EXITS       822989 non-null int64
dtypes: int64(2), object(9)
memory usage: 69.1+ MB

In [64]:
mta_raw.sort_values(["STATION","LINENAME","DIVISION","C/A","UNIT","SCP","DATE","TIME","DESC"])
mta_raw.head(10)

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/27/2019,00:00:00,REGULAR,7035249,2384833
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/27/2019,04:00:00,REGULAR,7035269,2384840
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/27/2019,08:00:00,REGULAR,7035292,2384875
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/27/2019,12:00:00,REGULAR,7035392,2384951
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/27/2019,16:00:00,REGULAR,7035651,2385020
5,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/27/2019,20:00:00,REGULAR,7035930,2385070
6,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/28/2019,00:00:00,REGULAR,7036100,2385087
7,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/28/2019,04:00:00,REGULAR,7036119,2385088
8,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/28/2019,08:00:00,REGULAR,7036125,2385103
9,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/28/2019,12:00:00,REGULAR,7036197,2385155

In [65]:
mta1 = mta_raw.copy()
mta1["time_hour"] = pd.to_numeric(mta1["TIME"].str[0:2])
mta1.tail(10)

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,time_hour
822979,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,05/23/2019,09:00:00,REGULAR,5554,378,9
822980,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,05/23/2019,13:00:00,REGULAR,5554,378,13
822981,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,05/23/2019,17:00:00,REGULAR,5554,378,17
822982,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,05/23/2019,21:00:00,REGULAR,5554,378,21
822983,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,05/24/2019,01:00:00,REGULAR,5554,378,1
822984,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,05/24/2019,05:00:00,REGULAR,5554,378,5
822985,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,05/24/2019,09:00:00,REGULAR,5554,378,9
822986,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,05/24/2019,13:00:00,REGULAR,5554,378,13
822987,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,05/24/2019,17:00:00,REGULAR,5554,378,17
822988,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,05/24/2019,21:00:00,REGULAR,5554,378,21

In [68]:
mta1["entries_diff"] = mta1.groupby(by = ["STATION","LINENAME","DIVISION","C/A","UNIT","SCP"]).ENTRIES.diff()
mta1["exits_diff"] = mta1.groupby(by = ["STATION","LINENAME","DIVISION","C/A","UNIT","SCP"]).EXITS.diff()
mta1["entries-exits"] = mta1["entries_diff"] - mta1["exits_diff"]

In [80]:
mta1.tail(10)

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,time_hour,entries_diff,exits_diff,entries-exits
822979,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,05/23/2019,09:00:00,REGULAR,5554,378,9,0.0,0.0,0.0
822980,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,05/23/2019,13:00:00,REGULAR,5554,378,13,0.0,0.0,0.0
822981,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,05/23/2019,17:00:00,REGULAR,5554,378,17,0.0,0.0,0.0
822982,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,05/23/2019,21:00:00,REGULAR,5554,378,21,0.0,0.0,0.0
822983,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,05/24/2019,01:00:00,REGULAR,5554,378,1,0.0,0.0,0.0
822984,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,05/24/2019,05:00:00,REGULAR,5554,378,5,0.0,0.0,0.0
822985,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,05/24/2019,09:00:00,REGULAR,5554,378,9,0.0,0.0,0.0
822986,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,05/24/2019,13:00:00,REGULAR,5554,378,13,0.0,0.0,0.0
822987,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,05/24/2019,17:00:00,REGULAR,5554,378,17,0.0,0.0,0.0
822988,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,05/24/2019,21:00:00,REGULAR,5554,378,21,0.0,0.0,0.0

In [69]:
mta1.describe()

,ENTRIES,EXITS,time_hour,entries_diff,exits_diff,entries-exits
count,8.229890e+05,8.229890e+05,822989.000000,8.181190e+05,8.181190e+05,8.181190e+05
mean,4.137444e+07,3.392040e+07,10.537974,6.501273e+03,4.389621e+03,2.111652e+03
std,2.110233e+08,1.945992e+08,6.813749,3.880945e+06,2.153482e+06,2.952274e+06
min,0.000000e+00,0.000000e+00,0.000000,-1.437242e+09,-3.843496e+08,-1.086304e+09
25%,3.552810e+05,1.453550e+05,4.000000,9.000000e+00,8.000000e+00,-2.600000e+01
50%,2.179688e+06,1.249356e+06,10.000000,7.100000e+01,5.200000e+01,1.000000e+00
75%,6.796341e+06,4.610048e+06,16.000000,2.390000e+02,1.670000e+02,9.500000e+01
max,2.129343e+09,2.124127e+09,23.000000,2.055526e+09,1.078346e+09,1.888396e+09

In [70]:
mta2 = mta1.groupby(["STATION","LINENAME","DIVISION","C/A","UNIT","SCP","DATE"])[["ENTRIES","EXITS"]].sum()
mta2.head(40)

In [75]:
mta3 = mta1.groupby(["STATION","LINENAME"])[["ENTRIES","EXITS"]].sum().sort_values("ENTRIES",ascending = False)
mta3.head(40)

                                    ENTRIES          EXITS
STATION         LINENAME
42 ST-PORT AUTH ACENQRS1237W  1325100766251  1087383399661
TIMES SQ-42 ST  1237ACENQRSW  1050107602568   572042830342
3 AV-149 ST     25             871050714699   573974218369
34 ST-HERALD SQ BDFMNQRW       792675667461   993997895389
183 ST          4              688797769222   440331418268
72 ST           123            595692069534   794986496814
FULTON ST       ACJZ2345       566891838239   371440694638
ELMHURST AV     MR             542939140010   785995739092
104 ST          JZ             530523541168   426588183018
CANAL ST        JNQRZ6W        523768132773   820303844992
FLATBUSH AV-B.C 25             493773615599   362591233789
125 ST          456            483599241408   315718258848
CORTLANDT ST    RNW            480956181266   170580222325
HIGH ST         AC             478720816666   643788988226
COURT SQ        EMG            463282648920   216678837618
LEXINGTON AV/53 EM6            454316967158   573267394862
125 ST          23             445294678461   207810064505
GRD CNTRL-42 ST 4567S          444555149184   558791206572
14 ST           ACEL           402131935540   201823594945
BOWLING GREEN   45             398453745321   269300965428
59 ST COLUMBUS  ABCD1          395276518126   293755830758
47-50 STS ROCK  BDFM           385410103160   384441411775
86 ST           456            375259848880   429625196387
CHAMBERS ST     123            372000974604   302708805238
CYPRESS AV      6              370979346402   183778458624
EASTCHSTER/DYRE 5              354649862936   383287087859
59 ST           NRW            351833413985   124346687372
23 ST           6              351202749633   270283131344
34 ST-PENN STA  123ACE         349236309965   424160223499
59 ST           456NQRW        345983359130   274707312886
KINGS HWY       BQ             342939798490   351164827726
161/YANKEE STAD BD4            336892546632   221503399783
B'WAY-LAFAYETTE BDFQ6          336889567652   273686737933
66 ST-LINCOLN   1              333954614109    78914291252
CHAMBERS ST     ACE23          330470091498   141372148798
225 ST          25             329459645992   111959264015
121 ST          JZ             328427293873    88453029829
23 ST           FM             321637586929   336421779839
167 ST          BD             303833276718   146522682627
18 AV           F              303642676215   138560931958

In [77]:
mta1.sort_values("entries_diff")

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,time_hour,entries_diff,exits_diff,entries-exits
582980,R288,R275,00-00-03,183 ST,4,IRT,05/15/2019,12:00:00,REGULAR,140396510,51950488,12,-1.437242e+09,-350938302.0,-1.086304e+09
72426,N196,R285,00-05-01,FAR ROCKAWAY,A,IND,05/03/2019,16:00:00,REGULAR,65536,2,16,-8.392517e+08,-167841839.0,-6.714099e+08
167363,R258,R132,00-03-00,125 ST,456,IRT,05/03/2019,13:00:00,REGULAR,68858058,68916176,13,-3.676523e+08,-384349631.0,1.669731e+07
553728,R160A,R164,00-00-02,66 ST-LINCOLN,1,IRT,05/11/2019,17:00:00,REGULAR,1058563,262707,17,-1.013321e+08,-50788219.0,-5.054392e+07
170314,R289,R119,00-05-01,FORDHAM RD,4,IRT,05/03/2019,16:00:00,REGULAR,458752,7,16,-1.002045e+08,-16777623.0,-8.342692e+07
544936,R121,R290,01-06-00,HOUSTON ST,1,IRT,05/11/2019,17:00:00,REGULAR,196625,30,17,-6.826523e+07,-17065778.0,-5.119945e+07
551480,R151,R033,00-00-05,TIMES SQ-42 ST,1237ACENQRSW,IRT,05/15/2019,16:00:00,REGULAR,146,258,16,-3.696648e+07,-89243892.0,5.227741e+07
655279,H041,R152,00-00-01,CANARSIE-ROCKAW,L,BMT,05/18/2019,13:00:00,REGULAR,191,169,13,-1.541868e+07,-7550836.0,-7.867844e+06
399044,R601A,R108,02-00-01,BOROUGH HALL,2345R,IRT,05/06/2019,00:00:00,RECOVR AUD,7,0,0,-1.365362e+07,-8665111.0,-4.988508e+06
163490,R245A,R051,01-00-01,59 ST,456NQRW,IRT,05/02/2019,20:00:00,REGULAR,115,23,20,-1.273900e+07,-6526790.0,-6.212212e+06
613749,R629,R065,00-00-00,ROCKAWAY AV,3,IRT,05/11/2019,16:00:00,REGULAR,84,72,16,-1.046303e+07,-5317619.0,-5.145411e+06
553649,R160A,R164,00-00-00,66 ST-LINCOLN,1,IRT,05/12/2019,09:00:00,RECOVR AUD,7,0,9,-9.441231e+06,-10391886.0,9.506550e+05
684489,N119,R199,00-00-01,KINGSTON-THROOP,C,IND,05/24/2019,20:00:00,REGULAR,170,61,20,-9.029972e+06,-2842516.0,-6.187456e+06
513514,N525,R142,01-00-00,DELANCEY/ESSEX,FJMZ,IND,05/12/2019,17:00:00,REGULAR,72,57,17,-8.876648e+06,-5013325.0,-3.863323e+06
554448,R161B,R452,00-03-00,72 ST,123,IRT,05/14/2019,05:00:00,REGULAR,10,19,5,-7.603746e+06,-15978514.0,8.374768e+06
377955,R311,R053,00-00-02,3 AV-149 ST,25,IRT,05/08/2019,20:00:00,REGULAR,119,162,20,-7.480365e+06,-13227035.0,5.746670e+06
721108,N520,R240,00-00-07,GRAND ST,BD,IND,05/22/2019,12:00:00,REGULAR,158,105,12,-6.999693e+06,-5150373.0,-1.849320e+06
166961,R257,R182,01-00-00,116 ST,6,IRT,05/01/2019,13:00:00,REGULAR,107,67,13,-6.546690e+06,-4057704.0,-2.488986e+06
675386,N078,R175,01-00-00,14 ST,ACEL,IND,05/20/2019,21:00:00,REGULAR,423,1324,21,-6.527507e+06,-8479480.0,1.951973e+06
160834,R240,R047,00-03-02,GRD CNTRL-42 ST,4567S,IRT,05/01/2019,09:00:00,REGULAR,29,426,9,-6.333334e+06,-19344553.0,1.301122e+07
178650,R408,R449,00-00-00,E 149 ST,6,IRT,04/28/2019,09:00:00,RECOVR AUD,0,27,9,-5.176463e+06,-2249763.0,-2.926700e+06
346165,R159,R164,01-00-00,66 ST-LINCOLN,1,IRT,05/04/2019,17:00:00,REGULAR,12,6,17,-4.887297e+06,-12407736.0,7.520439e+06
453047,K024,R403,00-00-02,FOREST AVE,M,BMT,05/16/2019,17:00:00,REGULAR,1150,910,17,-4.767334e+06,-2815850.0,-1.951484e+06
256619,N057,R188,00-00-04,50 ST,CE,IND,05/08/2019,20:00:00,REGULAR,39,6,20,-4.605723e+06,-1932155.0,-2.673568e+06
83799,N325A,R218,00-06-00,ELMHURST AV,MR,IND,05/03/2019,12:00:00,REGULAR,39,9,12,-3.912148e+06,-3657224.0,-2.549240e+05
101235,N519A,R461,01-00-02,B'WAY-LAFAYETTE,BDFQ6,IND,05/01/2019,21:00:00,REGULAR,326,98,21,-3.756147e+06,-2893863.0,-8.622840e+05
256537,N057,R188,00-00-02,50 ST,CE,IND,05/08/2019,20:00:00,REGULAR,134,36,20,-3.072936e+06,-906156.0,-2.166780e+06
287227,N317,R267,02-00-00,46 ST,MR,IND,05/08/2019,17:00:00,REGULAR,70,59,17,-2.898276e+06,-2357972.0,-5.403040e+05
507029,N500,R020,00-06-01,47-50 STS ROCK,BDFM,IND,05/17/2019,22:34:16,REGULAR,196614,12,22,-2.802078e+06,-7146388.0,4.344310e+06
345771,R158,R084,00-02-01,59 ST COLUMBUS,1ABCD,IRT,05/08/2019,12:00:00,REGULAR,182,200,12,-2.357375e+06,-2372904.0,1.552900e+04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
206393,S102,R165,00-05-01,TOMPKINSVILLE,1,SRT,04/27/2019,02:00:00,REGULAR,341,0,2,NaN,NaN,NaN
206437,TRAM1,R468,00-00-00,RIT-MANHATTAN,R,RIT,04/27/2019,01:00:00,REGULAR,364146,6866,1,NaN,NaN,NaN
206479,TRAM1,R468,00-00-01,RIT-MANHATTAN,R,RIT,04/27/2019,01:00:00,REGULAR,252807,3144,1,NaN,NaN,NaN
206521,TRAM1,R468,00-00-02,RIT-MANHATTAN,R,RIT,04/27/2019,01:00:00,REGULAR,82000,1331,1,NaN,NaN,NaN
206563,TRAM1,R468,00-05-00,RIT-MANHATTAN,R,RIT,04/27/2019,01:00:00,REGULAR,198,0,1,NaN,NaN,NaN
206605,TRAM2,R469,00-00-00,RIT-ROOSEVELT,R,RIT,04/27/2019,01:00:00,REGULAR,144061,2770,1,NaN,NaN,NaN
206647,TRAM2,R469,00-00-01,RIT-ROOSEVELT,R,RIT,04/27/2019,01:00:00,REGULAR,3006617,35486,1,NaN,NaN,NaN
206689,TRAM2,R469,00-03-00,RIT-ROOSEVELT,R,RIT,04/27/2019,01:00:00,REGULAR,660786,25646,1,NaN,NaN,NaN
206731,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,04/27/2019,01:00:00,REGULAR,3041812,391575,1,NaN,NaN,NaN
206773,TRAM2,R469,00-05-00,RIT-ROOSEVELT,R,RIT,04/27/2019,01:00:00,REGULAR,2878,62,1,NaN,NaN,NaN
206815,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,04/27/2019,01:00:00,REGULAR,5554,376,1,NaN,NaN,NaN
243913,J002,R460,00-06-00,MARCY AV,JMZ,BMT,05/08/2019,17:00:00,REGULAR,196696,218,17,NaN,NaN,NaN
284353,N305A,R016,00-05-01,LEXINGTON AV/53,EM6,IND,05/10/2019,20:00:00,REGULAR,6,1849,20,NaN,NaN,NaN
423943,A081,R028,04-00-03,FULTON ST,ACJZ2345,BMT,05/13/2019,08:36:03,REGULAR,748906,2343743,8,NaN,NaN,NaN
434794,C022,R212,01-00-00,59 ST,NRW,BMT,05/13/2019,16:00:00,REGULAR,25,26,16,NaN,NaN,NaN
434820,C022,R212,01-00-01,59 ST,NRW,BMT,05/13/2019,16:00:00,REGULAR,28,33,16,NaN,NaN,NaN
434846,C022,R212,01-00-02,59 ST,NRW,BMT,05/13/2019,16:00:00,REGULAR,33,28,16,NaN,NaN,NaN
434872,C022,R212,01-00-03,59 ST,NRW,BMT,05/13/2019,20:00:00,REGULAR,245,116,20,NaN,NaN,NaN
536132,PTH19,R549,02-02-08,NEWARK C,1,PTH,05/13/2019,13:14:40,REGULAR,58198,4901,13,NaN,NaN,NaN
645156,D008,R392,00-00-00,18 AV,N,BMT,05/18/2019,17:00:00,REGULAR,7829573,7636678,17,NaN,NaN,NaN
645194,D008,R392,00-00-01,18 AV,N,BMT,05/18/2019,17:00:00,REGULAR,6683380,4128285,17,NaN,NaN,NaN
645232,D008,R392,00-03-00,18 AV,N,BMT,05/18/2019,13:00:00,REGULAR,1946541827,1358550406,13,NaN,NaN,NaN
645271,D008,R392,00-03-01,18 AV,N,BMT,05/18/2019,13:00:00,REGULAR,21,12,13,NaN,NaN,NaN
733815,OB01,R459,00-00-00,ORCHARD BEACH,6,IND,05/21/2019,16:00:00,RECOVR AUD,397537,23574,16,NaN,NaN,NaN
733835,OB01,R459,00-00-01,ORCHARD BEACH,6,IND,05/21/2019,16:00:00,RECOVR AUD,69256,4741,16,NaN,NaN,NaN
733855,OB01,R459,00-00-02,ORCHARD BEACH,6,IND,05/21/2019,16:00:00,RECOVR AUD,124,92,16,NaN,NaN,NaN
733875,OB01,R459,00-03-00,ORCHARD BEACH,6,IND,05/21/2019,16:00:00,RECOVR AUD,18999,1322,16,NaN,NaN,NaN
733895,OB01,R459,00-03-01,ORCHARD BEACH,6,IND,05/21/2019,16:00:00,RECOVR AUD,109,42,16,NaN,NaN,NaN
734503,PTH02,R544,00-00-08,HARRISON,1,PTH,05/24/2019,07:49:22,REGULAR,142284,6516,7,NaN,NaN,NaN
741372,PTH20,R549,03-00-08,NEWARK HM HE,1,PTH,05/20/2019,11:27:21,REGULAR,36975,1148746,11,NaN,NaN,NaN

In [79]:
mta1.iloc[72420:72440]

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,time_hour,entries_diff,exits_diff,entries-exits
72420,N196,R285,00-05-01,FAR ROCKAWAY,A,IND,05/02/2019,16:00:00,REGULAR,839317244,167841841,16,0.0,0.0,0.0
72421,N196,R285,00-05-01,FAR ROCKAWAY,A,IND,05/02/2019,20:00:00,REGULAR,839317244,167841841,20,0.0,0.0,0.0
72422,N196,R285,00-05-01,FAR ROCKAWAY,A,IND,05/03/2019,00:00:00,REGULAR,839317244,167841841,0,0.0,0.0,0.0
72423,N196,R285,00-05-01,FAR ROCKAWAY,A,IND,05/03/2019,04:00:00,REGULAR,839317244,167841841,4,0.0,0.0,0.0
72424,N196,R285,00-05-01,FAR ROCKAWAY,A,IND,05/03/2019,08:00:00,REGULAR,839317244,167841841,8,0.0,0.0,0.0
72425,N196,R285,00-05-01,FAR ROCKAWAY,A,IND,05/03/2019,12:00:00,REGULAR,839317244,167841841,12,0.0,0.0,0.0
72426,N196,R285,00-05-01,FAR ROCKAWAY,A,IND,05/03/2019,16:00:00,REGULAR,65536,2,16,-839251708.0,-167841839.0,-671409869.0
72427,N196,R285,00-05-01,FAR ROCKAWAY,A,IND,05/03/2019,20:00:00,REGULAR,65536,2,20,0.0,0.0,0.0
72428,N202,R315,00-00-00,155 ST,BD,IND,04/27/2019,01:00:00,REGULAR,8938117,8025191,1,NaN,NaN,NaN
72429,N202,R315,00-00-00,155 ST,BD,IND,04/27/2019,05:00:00,REGULAR,8938131,8025234,5,14.0,43.0,-29.0
72430,N202,R315,00-00-00,155 ST,BD,IND,04/27/2019,09:00:00,REGULAR,8938263,8025281,9,132.0,47.0,85.0
72431,N202,R315,00-00-00,155 ST,BD,IND,04/27/2019,13:00:00,REGULAR,8938439,8025370,13,176.0,89.0,87.0
72432,N202,R315,00-00-00,155 ST,BD,IND,04/27/2019,17:00:00,REGULAR,8938619,8025505,17,180.0,135.0,45.0
72433,N202,R315,00-00-00,155 ST,BD,IND,04/27/2019,21:00:00,REGULAR,8938774,8025674,21,155.0,169.0,-14.0
72434,N202,R315,00-00-00,155 ST,BD,IND,04/28/2019,01:00:00,REGULAR,8938842,8025780,1,68.0,106.0,-38.0
72435,N202,R315,00-00-00,155 ST,BD,IND,04/28/2019,05:00:00,REGULAR,8938852,8025815,5,10.0,35.0,-25.0
72436,N202,R315,00-00-00,155 ST,BD,IND,04/28/2019,09:00:00,REGULAR,8938949,8025844,9,97.0,29.0,68.0
72437,N202,R315,00-00-00,155 ST,BD,IND,04/28/2019,13:00:00,REGULAR,8939086,8025908,13,137.0,64.0,73.0
72438,N202,R315,00-00-00,155 ST,BD,IND,04/28/2019,17:00:00,REGULAR,8939229,8026017,17,143.0,109.0,34.0
72439,N202,R315,00-00-00,155 ST,BD,IND,04/28/2019,21:00:00,REGULAR,8939340,8026133,21,111.0,116.0,-5.0